<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="/main/style.css">
   	<script type="text/javascript">
		window.addEventListener('load',()=>{
			document.getElementById('addBtn').addEventListener("click", ()=>{
				document.getElementById('addForm').submit();
			});
			$("#selectAcc").change(function(e) {
				if($(this).val() != 0 ) {
					var selectedAcc = $("#selectAcc option:selected").val();
					var selectedAccNo = $("#selectAcc option:selected").attr("no");
					//hidden 태그에 숙소 이름 세팅
					$("#accommodationName").val(selectedAcc);
					$("#accommodationNo").val(selectedAccNo);
					$("#selectGuestroom").prop("disabled", false);
					findGuestroom(selectedAccNo);
				}
				else {
					$("#guestroomAddOrSelect").val("0"); // 기존에 있는 객실을 선택 select
					$("#selectGuestroom").val("0");//객실을 선택해주세요 select
					$("#selectGuestroom").prop("disabled", true);
				}
				$("select").niceSelect('update');
			});
			$("#selectGuestroom").change(function() {
				if($("#selectGuestroom").val() != 0) {
					var selectedGuestroom = $("#selectGuestroom option:selected").val();
					var selectedGuestroomNo = $("#selectGuestroom option:selected").attr("no");
					$("#guestroomName").val(selectedGuestroom);
					$("#guestroomNo").val(selectedGuestroomNo);
					$("select").niceSelect('update');
				}
			});
		});
		function findGuestroom(selectedAccNo) {
			$.ajax({
		  		url : "/auction/reverse/tender/findGuestroom",
		  		data : {"accommodationNo" : selectedAccNo},
		  		type: 'GET',
				contentType:"application/x-www-form-urlencoded",
				success: function(data) {
					$("#selectGuestroom").html("<option value='0'>객실을 선택해주세요");
					$("select").niceSelect('update');
					$.each(data, function(index,item) {
						$("#selectGuestroom").append("<option no='"+item.guestroomNo+"'>"+ item.guestroomName);
						$("select").niceSelect('update');
					});
				}
			});
		}
	</script>
	<title>Make A Tender</title>
</head>
<body>
	<!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="cssload-container">
            <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
        </div>
    </div>
	
	<!-- header replace -->
    <div th:replace="header :: header"></div>

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img d-flex align-items-center justify-content-center" style="background-image: url(/main/img/bg-img/bg-6.jpg);">
        <div class="bradcumbContent">
            <h2>Make A Tender</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->
    
    <div class="container">
		<div class="row">
			<div class="col-12">
			    <div class="section-heading">
			        <div class="line-"></div>
			        <h2>역경매 등록</h2>
			    </div>
			</div>
		</div>
	</div>
	<section class="contact-form-area mb-100">
	    <div class="container">
		    <div class="contact-form-area">
				<form action="addReverseauction" method="POST" id="addForm">
					<input type="hidden" th:name="reverseauctionNo" th:value="${reverseauctionNo}">
					<div class="row">
		    			<input type="hidden" th:placeholder="accommodationNo" name="accommodationNo" id="accommodationNo">
		    			<input type="hidden" th:placeholder="accommodationName" name="accommodationName" id="accommodationName">
						<select name = "selectAcc" id="selectAcc">
				 			<option value="0">숙소를 선택해 주세요
				 			<option th:each="accommodation : ${accommodations}" th:text="${accommodation.accommodationName}" th:no="${accommodation.accommodationNo}">
				 		</select>
						<input type="hidden" th:placeholder="guestroomNo" name="guestroomNo" id="guestroomNo">
						<input type="hidden" th:placeholder="guestroomName" name="guestroomName" id="guestroomName">
				 		<select name = "selectGuestroom" id = "selectGuestroom" disabled>
				 			<option value='0'>객실을 선택해주세요
				 		</select>
			 		</div>
			    	<div class="row">
						<div class="col-md-6 col-lg-4"><input class="form-control" th:placeholder="accommodationGuestroomAllcount" type="text" name="accommodationGuestroomAllcount"></div>
						<div class="col-md-6 col-lg-4"><input class="form-control" th:placeholder="guestroomStateCount" type="text" name="guestroomStateCount"></div>
						<div class="col-md-6 col-lg-4"><input class="form-control" th:placeholder="reverseauctionTenderPrice" type="text" name="reverseauctionTenderPrice"></div>
						<div class="col-lg-12"><button type="button" class="btn palatin-btn mt-50" id="addBtn">입력</button></div>
					</div>
				</form>
			</div>
		</div>
	</section>
	
	<!-- footer replace -->
    <div th:replace="footer :: footer"></div>
    
    <!-- jQuery-2.2.4 js -->
    <script src="/main/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/main/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/main/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/main/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="/main/js/active.js"></script>
</body>
</html>