<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="/main/style.css">
    <!-- jQuery-2.2.4 js -->
    <script src="/main/js/jquery/jquery-2.2.4.min.js"></script>
    <link rel="stylesheet" href="/datepicker/css/datepicker.css"/>
    <script src="/datepicker/js/datepicker.js"></script>
    <script src="/datepicker/js/i18n/datepicker.en.js"></script>
	<script type="text/javascript">
		window.addEventListener('load',()=>{
			document.getElementById('addBtn').addEventListener("click", ()=>{
				document.getElementById('addForm').submit();
			});
			$('#from, #to, #closeDate').datepicker({
			    language: 'en',
			    dateFormat:'yyyy-mm-dd',
			    timeFormat:'hh:ii',
			    minDate: new Date(),
				autoClose:true
			});
			//입실일자는 선택시에만 퇴실일 선택 가능하며 퇴실일자는 입실일자 이후로 선택 가능	
			var select = false;
			var checkInDate = $('input[name="reverseauctionRoomingDate"]');
			var checkOutDate = $('input[name="reverseauctionLeavingDate"]');
			checkOutDate.click(function() {
				if(checkInDate.val() == "") {
					alert("입실 일자를 선택해 주세요");
				}
				else {
					if(!select) {
						select = true;
						checkOutDate.datepicker({
						    language: 'en',
						    dateFormat:'yyyy-mm-dd',
						    timeFormat:'hh:ii',
						    minDate: new Date(checkInDate.val()),
							autoClose:true,
							Defaults : "focus"
						});
						checkOutDate.datepicker().data('datepicker').show();
					}
				}
			});
		});
	</script>
	<title>Make A ReverseAuction</title>
</head>
<body>
	<!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="cssload-container">
            <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
        </div>
    </div>
	
	<!-- header replace -->
    <div th:replace="header :: header"></div>

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img d-flex align-items-center justify-content-center" style="background-image: url(/main/img/bg-img/background1.jpg);">
        <div class="bradcumbContent">
            <h2>Make A ReverseAuction</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->
    
    <div class="container">
		<div class="row">
			<div class="col-12">
			    <div class="section-heading">
			        <div class="line-"></div>
			        <h2>역경매 등록</h2>
			    </div>
			</div>
		</div>
	</div>
	<section class="contact-form-area mb-100">
	    <div class="container">
          	<div class="row">
            	<div class="col-md-3">
            		<p>리버스옥션(역경매)은 무엇인가요?</p>
					<a href="/auction">
						<button type="button" class="btn palatin-btn btn-2">Click Now</button><br><br>
					</a>
					<p>리버스옥션으로 숙소를 예약하고싶어요.</p>
					<a href="/auction/reverse/list">
						<button type="button" class="btn palatin-btn btn-2">Click Now</button><br><br>
					</a>
					<p>더치옥션은 무엇인가요?</p>
					<a href="/auction">
						<button type="button" class="btn palatin-btn btn-2">Click Now</button><br><br>
					</a>
					<p>더치옥션으로 숙소를 예약하고싶어요.</p>
					<a href="/auction/dutch/list">
						<button type="button" class="btn palatin-btn btn-2">Click Now</button><br><br>
					</a>
					<p>더치옥션을 등록하고싶어요.</p>
					<a href="/auction/dutch/register">
						<button type="button" class="btn palatin-btn btn-2">Click Now</button><br><br>
					</a>
					<p>내 옥션 목록을 보고싶어요.</p>
					<a href="/myAuctionList">
						<button type="button" class="btn palatin-btn btn-2">Click Now</button>
					</a>
				</div>
                <div class="col-md-9">
				    <div class="contact-form-area">
						<form action="/auction/reverse/add" method="POST" id="addForm">
					    	<div class="row">
								<div class="col-lg-4"><input class="form-control" th:placeholder="인원수" type="text" name="reverseauctionNumberOfPeople"></div>
								<div class="col-lg-4"><input class="form-control" th:placeholder="가격한도" type="text" name="reverseauctionTenderLimit"></div>
								<div class="col-lg-4"><input class="form-control" id="closeDate" data-timepicker="true" th:placeholder="입찰마감일" type="text" name="reverseauctionTendercloseDate" autocomplete=off></div>
								<div class="col-lg-4"><input class="form-control" id="from" th:placeholder="체크인" type="text" name="reverseauctionRoomingDate" autocomplete=off></div>
								<div class="col-lg-4"><input class="form-control" id="to" th:placeholder="체크아웃" type="text" name="reverseauctionLeavingDate" autocomplete=off></div>
								<div class="col-lg-12"><input class="form-control" th:placeholder="역경매제목" type="text" name="reverseauctionTitle"></div>
								<div class="col-lg-12"><input class="form-control" th:placeholder="숙박희망주소" type="text" name="reverseauctionAddress"></div>
								<div class="col-lg-12"><input class="form-control" th:placeholder="추가숙박희망주소" type="text" name="reverseauctionAddressMore"></div>
								<div class="col-lg-12"><input class="form-control" th:placeholder="역경매내용" type="text" name="reverseauctionContent"></div>
								<div class="col-lg-12 text-center"><button type="button" class="btn palatin-btn mt-50" id="addBtn">리버스옥션 등록하기</button></div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
				
	<!-- footer replace -->
    <div th:replace="footer :: footer"></div>
    
    <!-- Popper js -->
    <script src="/main/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/main/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/main/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="/main/js/active.js"></script>
    <script>
    	$("#reverseauctionRegister").addClass('active');
    </script>
</body>
</html>