<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="main/style.css">
	<title>Make A Tender</title>
</head>
<body>
	<!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="cssload-container">
            <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
        </div>
    </div>
	
	<!-- header replace -->
    <div th:replace="header :: header"></div>

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img d-flex align-items-center justify-content-center" style="background-image: url(main/img/bg-img/bg-6.jpg);">
        <div class="bradcumbContent">
            <h2>Make A Tender</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->
    
	<h1>addReverseauctionTender</h1>
	<form th:action="@{addReverseauctionTender}" th:object="${reverseauctionTender}" method="post">
		<h5>reverseauctionNo<input th:field="*{reverseauctionNo}" th:value="${reverseauctionNo}"></h5>
		<table border="1">
			<tbody>
				<tr>
					<td>memberId</td>
					<td><input th:field="*{memberId}"></td>
				</tr>
				<tr>
					<td>companyNo</td>
					<td><input th:field="*{companyNo}"></td>
				</tr>
				<tr>
					<td>companyName</td>
					<td><input th:field="*{companyName}"></td>
				</tr>
				<tr>
					<td>accommodationNo</td>
					<td><input th:field="*{accommodationNo}"></td>
				</tr>
				<tr>
					<td>accommodationName</td>
					<td><input th:field="*{accommodationName}"></td>
				</tr>
				<tr>
					<td>guestroomNo</td>
					<td><input th:field="*{guestroomNo}"></td>
				</tr>
				<tr>
					<td>guestroomName</td>
					<td><input th:field="*{guestroomName}"></td>
				</tr>
				<tr>
					<td>accommodationGuestroomAllcount</td>
					<td><input th:field="*{accommodationGuestroomAllcount}"></td>
				</tr>
				<tr>
					<td>guestroomStateCount</td>
					<td><input th:field="*{guestroomStateCount}"></td>
				</tr>
				<tr>
					<td>reverseauctionTenderContent</td>
					<td><input th:field="*{reverseauctionTenderContent}"></td>
				</tr>
				<tr>
					<td>reverseauctionTenderPrice</td>
					<td><input th:field="*{reverseauctionTenderPrice}"></td>
				</tr>
				<tr>
					<td><button th:type="submit">submit</button></td>
				</tr>
			</tbody>
		</table>
	</form>
	
	<!-- footer replace -->
    <div th:replace="footer :: footer"></div>
    
    <!-- jQuery-2.2.4 js -->
    <script src="main/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="main/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="main/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="main/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="main/js/active.js"></script>
</body>
</html>