<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="/main/style.css">
    <!-- jQuery-2.2.4 js -->
    <script src="/main/js/jquery/jquery-2.2.4.min.js"></script>
    <link rel="stylesheet" href="/datepicker/css/datepicker.css"/>
    <script src="/datepicker/js/datepicker.js"></script>
    <script src="/datepicker/js/i18n/datepicker.en.js"></script>
	<script type="text/javascript">
		window.addEventListener('load',()=>{
			document.getElementById('modifyBtn').addEventListener("click", ()=>{
				document.getElementById('modifyForm').submit();
			});
			let input = $('#modifyForm').find('input');
			for(let i=0; i<input.length; i++){
				input[i].origin=input[i].value;
			}
			input.css("background-color", "rgba(255, 165, 0, 0.1)");
			input.change((e)=>{
				if(e.target.value==e.target.origin){
					e.target.style.backgroundColor = "rgba(255, 165, 0, 0.1)";
				}else{
					e.target.style.backgroundColor = "rgba(203, 134, 112, 0.3)";
				}
			});
			$('input[name="reverseauctionRoomingDate"], input[name="reverseauctionLeavingDate"]').blur((e)=>{
				if(e.target.value==e.target.origin){
					e.target.style.backgroundColor = "rgba(255, 165, 0, 0.1)";
				}else{
					e.target.style.backgroundColor = "rgba(203, 134, 112, 0.3)";
				}
			})
			$('#from, #to, #closeDate').datepicker({
			    language: 'en',
			    dateFormat:'yyyy-mm-dd',
			    timeFormat:'hh:ii',
			    minDate: new Date(),
				autoClose:true
			});
			//입실일자는 선택시에만 퇴실일 선택 가능하며 퇴실일자는 입실일자 이후로 선택 가능	
			var select = false;
			var checkInDate = $('input[name="reverseauctionRoomingDate"]');
			var checkOutDate = $('input[name="reverseauctionLeavingDate"]');
			checkOutDate.click(function() {
				if(checkInDate.val() == "") {
					alert("입실 일자를 선택해 주세요");
				}
				else {
					if(!select) {
						select = true;
						checkOutDate.datepicker({
						    language: 'en',
						    dateFormat:'yyyy-mm-dd',
						    timeFormat:'hh:ii',
						    minDate: new Date(checkInDate.val()),
							autoClose:true,
							Defaults : "focus"
						});
						checkOutDate.datepicker().data('datepicker').show();
					}
				}
			});
		});
	</script>
	<title>Make A ReverseAuction</title>
</head>
<body>
	<!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="cssload-container">
            <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
        </div>
    </div>
	
	<!-- header replace -->
    <div th:replace="header :: header"></div>

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img d-flex align-items-center justify-content-center" style="background-image: url(/main/img/bg-img/background1.jpg);">
        <div class="bradcumbContent">
            <h2>Modify A ReverseAuction</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->
    
        <div class="container">
		<div class="row">
			<div class="col-12">
			    <div class="section-heading">
			        <div class="line-"></div>
			        <h2>역경매 수정</h2>
			    </div>
			</div>
		</div>
	</div>
	<section class="contact-form-area mb-100">
	    <div class="container">
		    <div class="contact-form-area">
				<form action="/auction/reverse/modify" method="POST" id="modifyForm">
					<input type="hidden" th:name="reverseauctionNo" th:value="${m.reverseauctionNo}">
			    	<div class="row">
						<div class="col-lg-4"><input class="form-control" th:placeholder="Trevelers" type="text" name="reverseauctionNumberOfPeople" th:value="${m.reverseauctionNumberOfPeople}"></div>
						<div class="col-lg-4"><input class="form-control" th:placeholder="Price_less_than" type="text" name="reverseauctionTenderLimit" th:value="${m.reverseauctionTenderLimit}"></div>
						<div class="col-lg-4"><input class="form-control" id="closeDate" data-timepicker="true" th:placeholder="TendercloseDate" type="text" name="reverseauctionTendercloseDate" autocomplete=off th:value="${m.reverseauctionTendercloseDate}"></div>
						<div class="col-lg-4"><input class="form-control" id="from" th:placeholder="Check-In" type="text" name="reverseauctionRoomingDate" autocomplete=off th:value="${m.reverseauctionRoomingDate}"></div>
						<div class="col-lg-4"><input class="form-control" id="to" th:placeholder="Check-Out" type="text" name="reverseauctionLeavingDate" autocomplete=off th:value="${m.reverseauctionLeavingDate}"></div>
						<div class="col-lg-12"><input class="form-control" th:placeholder="Title" type="text" name="reverseauctionTitle" th:value="${m.reverseauctionTitle}"></div>
						<div class="col-lg-12"><input class="form-control" th:placeholder="Address" type="text" name="reverseauctionAddress" th:value="${m.reverseauctionAddress}"></div>
						<div class="col-lg-12"><input class="form-control" th:placeholder="AddressMore" type="text" name="reverseauctionAddressMore" th:value="${m.reverseauctionAddressMore}"></div>
						<div class="col-lg-12"><input class="form-control" th:placeholder="Content" type="text" name="reverseauctionContent" th:value="${m.reverseauctionContent}"></div>
						<div class="col-lg-4"><button type="button" class="btn palatin-btn mt-50" id="modifyBtn">입력</button></div>
					</div>
				</form>
			</div>
		</div>
	</section>
    
	<!-- footer replace -->
    <div th:replace="footer :: footer"></div>
    
    <!-- Popper js -->
    <script src="/main/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/main/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/main/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="/main/js/active.js"></script>
</body>
</html>