<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="main/style.css">
	<title>reverseauctionList</title>
</head>
<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="cssload-container">
            <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
        </div>
    </div>
	
	<!-- header replace -->
    <div th:replace="header :: header"></div>

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img d-flex align-items-center justify-content-center" style="background-image: url(main/img/bg-img/bg-6.jpg);">
        <div class="bradcumbContent">
            <h2>Reverse Book</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

	<h1>ReverseauctionDetail</h1>
	<h6><a th:href="@{modifyReverseauction(reverseauctionNo=${m.reverseauctionNo})}">역경매수정하기</a></h6>
	<h6><a th:href="@{removeReverseauction(reverseauctionNo=${m.reverseauctionNo})}">역경매삭제하기</a></h6>
	<h6><a th:href="@{addReverseauctionTender(reverseauctionNo=${m.reverseauctionNo})}">입찰등록</a></h6>
	<table border="1">
		<tbody>
			<tr>
				<td>No</td>
				<td th:text="${m.reverseauctionNo}"></td>
			</tr>
			<tr>
				<td>memberId</td>
				<td th:text="${m.memberId}"></td>
			</tr>
			<tr>
				<td>RegisterDate</td>
				<td th:text="${m.reverseauctionRegisterDate}"></td>
			</tr>
			<tr>
				<td>UpdateDate</td>
				<td th:text="${m.reverseauctionUpdateDate}"></td>
			</tr>
			<tr>
				<td>TenderLimit</td>
				<td th:text="${m.reverseauctionTenderLimit}"></td>
			</tr>
			<tr>
				<td>TendercloseDate</td>
				<td th:text="${m.reverseauctionTendercloseDate}"></td>
			</tr>
			<tr>
				<td>RoomingDate</td>
				<td th:text="${m.reverseauctionRoomingDate}"></td>
			</tr>
			<tr>
				<td>LeavingDate</td>
				<td th:text="${m.reverseauctionLeavingDate}"></td>
			</tr>
			<tr>
				<td>Title</td>
				<td th:text="${m.reverseauctionTitle}"></td>
			</tr>
			<tr>
				<td>Address</td>
				<td th:text="${m.reverseauctionAddress}"></td>
			</tr>
			<tr>
				<td>AddressMore</td>
				<td th:text="${m.reverseauctionAddressMore}"></td>
			</tr>
			<tr>
				<td>Hits</td>
				<td th:text="${m.reverseauctionHits}"></td>
			</tr>
			<tr>
				<td>Content</td>
				<td th:text="${m.reverseauctionContent}"></td>
			</tr>
			<tr>
				<td>TenderCount</td>
				<td th:text="${m.reverseauctionTenderCount}"></td>
			</tr>
			<tr>
				<td>auctionStateCategoryNo</td>
				<td th:text="${m.auctionStateCategoryNo}"></td>
			</tr>
			<tr>
				<td>auctionStateCategoryName</td>
				<td th:text="${m.auctionStateCategoryName}"></td>
			</tr>
		</tbody>
	</table>
	<h1>입찰목록</h1>
	<table border="1">
		<tbody>
			<tr>
				<td>reverseauctionTenderNo</td>
				<td>memberId</td>
				<td>companyNo</td>
				<td>companyName</td>
				<td>accommodationNo</td>
				<td>accommodationName</td>
				<td>guestroomNo</td>
				<td>guestroomName</td>
				<td>reverseauctionNo</td>
				<td>accommodationGuestroomAllcount</td>
				<td>guestroomStateCount</td>
				<td>reverseauctionTenderDate</td>
				<td>reverseauctionTenderUpdateDate</td>
				<td>reverseauctionTenderContent</td>
				<td>reverseauctionTenderPirce</td>
				<td>auctionStateCategoryNo</td>
				<td>auctionStateCategoryName</td>
			</tr>
			<tr th:each="item: ${reverseauctionTenderList}">
				<td th:text="${item.reverseauctionTenderNo}"></td>
				<td th:text="${item.memberId}"></td>
				<td th:text="${item.companyNo}"></td>
				<td th:text="${item.companyName}"></td>
				<td th:text="${item.accommodationNo}"></td>
				<td th:text="${item.accommodationName}"></td>
				<td th:text="${item.guestroomNo}"></td>
				<td th:text="${item.guestroomName}"></td>
				<td th:text="${item.reverseauctionNo}"></td>
				<td th:text="${item.accommodationGuestroomAllcount}"></td>
				<td th:text="${item.guestroomStateCount}"></td>
				<td th:text="${item.reverseauctionTenderDate}"></td>
				<td th:text="${item.reverseauctionTenderUpdateDate}"></td>
				<td th:text="${item.reverseauctionTenderContent}"></td>
				<td th:text="${item.reverseauctionTenderPrice}"></td>
				<td th:text="${item.auctionStateCategoryNo}"></td>
				<td th:text="${item.auctionStateCategoryName}"></td>
				<td><a th:href="@{removeReverseauctionTender(reverseauctionTenderNo=${item.reverseauctionTenderNo},reverseauctionNo=${item.reverseauctionNo})}" th:text="DELETE"></a></td>
				<td><a th:href="@{addReverseauctionSuccessfulbid(reverseauctionTenderNo=${item.reverseauctionTenderNo},reverseauctionNo=${item.reverseauctionNo})}" th:text="SELECT"></a></td>
			</tr>
		</tbody>
	</table>
	
	<h1>낙찰DB</h1>
	<table border="1">
		<tbody>
			<tr>
				<td>reverseauctionSuccessfulbidNo</td>
				<td>reverseauctionNo</td>
				<td>reverseauctionTenderNo</td>
				<td>guestroomOptionNo</td>
				<td>guestroomAdditionalPrice</td>
				<td>reverseauctionSuccessfulbidPrice</td>
				<td>reverseauctionSuccessfulbidDate</td>
				<td>reverseauctionRoomingDate</td>
				<td>reverseauctionLeavingDate</td>
				<td>auctionStateCategoryNo</td>
				<td>auctionStateCategoryName</td>
			</tr>
			<tr>
				<td th:text="${m2.reverseauctionSuccessfulbidNo}"></td>
				<td th:text="${m2.reverseauctionNo}"></td>
				<td th:text="${m2.reverseauctionTenderNo}"></td>
				<td th:text="${m2.guestroomOptionNo}"></td>
				<td th:text="${m2.guestroomAdditionalPrice}"></td>
				<td th:text="${m2.reverseauctionSuccessfulbidPrice}"></td>
				<td th:text="${m2.reverseauctionSuccessfulbidDate}"></td>
				<td th:text="${m2.reverseauctionRoomingDate}"></td>
				<td th:text="${m2.reverseauctionLeavingDate}"></td>
				<td th:text="${m2.auctionStateCategoryNo}"></td>
				<td th:text="${m2.auctionStateCategoryName}"></td>
			</tr>
		</tbody>
	</table>
	
	<!-- footer replace -->
    <div th:replace="footer :: footer"></div>
    
    <!-- jQuery-2.2.4 js -->
    <script src="main/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="main/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="main/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="main/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="main/js/active.js"></script>
</body>
</html>