<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="main/style.css">
	<title>reverseauctionList</title>
</head>
<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="cssload-container">
            <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
        </div>
    </div>
	
	<!-- header replace -->
    <div th:replace="header :: header"></div>
    
	<div style="position:absolute; top:160px;">
	<h1>test</h1>
	<a href="addReverseauction" class="btn">역경매 등록</a>
	<table border="1">
		<tbody>
			<tr>
				<td>No</td>
				<td>memberId</td>
				<td>RegisterDate</td>
				<td>UpdateDate</td>
				<td>TenderLimit</td>
				<td>TendercloseDate</td>
				<td>RoomingDate</td>
				<td>LeavingDate</td>
				<td>Title</td>
				<td>Address</td>
				<td>AddressMore</td>
				<td>Hits</td>
				<td>Content</td>
				<td>TenderCount</td>
				<td>auctionStateCategoryNo</td>
				<td>auctionStateCategoryName</td>
			</tr>
			<tr th:each="item: ${list}">
				<td th:text="${item.reverseauctionNo}"></td>
				<td th:text="${item.memberId}"></td>
				<td th:text="${item.reverseauctionRegisterDate}"></td>
				<td th:text="${item.reverseauctionUpdateDate}"></td>
				<td th:text="${item.reverseauctionTenderLimit}"></td>
				<td th:text="${item.reverseauctionTendercloseDate}"></td>
				<td th:text="${item.reverseauctionRoomingDate}"></td>
				<td th:text="${item.reverseauctionLeavingDate}"></td>
				<td><a th:href="@{reverseauctionDetail(reverseauctionNo=${item.reverseauctionNo})}" th:text="${item.reverseauctionTitle}"></a></td>
				<td th:text="${item.reverseauctionAddress}"></td>
				<td th:text="${item.reverseauctionAddressMore}"></td>
				<td th:text="${item.reverseauctionHits}"></td>
				<td th:text="${item.reverseauctionContent}"></td>
				<td th:text="${item.reverseauctionTenderCount}"></td>
				<td th:text="${item.auctionStateCategoryNo}"></td>
				<td th:text="${item.auctionStateCategoryName}"></td>
			</tr>
		</tbody>
	</table>
	</div>
    <!-- jQuery-2.2.4 js -->
    <script src="main/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="main/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="main/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="main/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="main/js/active.js"></script>
</body>
</html>