<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Core Stylesheet -->
	<link rel="stylesheet" href="/main/style.css">
	<!-- jQuery-2.2.4 js -->
	<script src="/main/js/jquery/jquery-2.2.4.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script type="text/javascript">
		$(document).ready(()=>{
			$("#reverseauctionList").addClass('active');
			if(location.search.length > 0){
				$('#search').focus();
			}
			let dates = $('#datePicker1, #datePicker2').datepicker({
				showButtonPanel: true,
				dateFormat: "yy-mm-dd",
				minDate: -1,
				dayNames: ['월요일', '화요일', '수요일', '목요일', '금요일', '토요일', '일요일'],
				dayNamesMin: ['월', '화', '수', '목', '금', '토', '일'], 
				monthNamesShort: ['1','2','3','4','5','6','7','8','9','10','11','12'],
				monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
				onSelect: function( selectedDate ) {
				    var option = this.id == "datePicker1" ? "minDate" : "maxDate",
				      instance = $( this ).data( "datepicker" ),
				      date = $.datepicker.parseDate(
				        instance.settings.dateFormat ||
				        $.datepicker._defaults.dateFormat,
				        selectedDate, instance.settings );
				    dates.not( this ).datepicker( "option", option, date );
				}
			});
		});
		function showList1(){
			$('#list2').css('display','none');
			$('#list1').css('display','flex');
		}
		function showList2(){
			$('#list1').css('display','none');
			$('#list2').css('display','flex');
		}
	</script>
	<title>reverseauctionList</title>
</head>
<body>
	<!-- Preloader -->
	<div class="preloader d-flex align-items-center justify-content-center">
		<div class="cssload-container">
			<div class="cssload-loading">
				<i></i><i></i><i></i><i></i>
			</div>
		</div>
	</div>

	<!-- header replace -->
	<div th:replace="header :: header"></div>

	<!-- ##### Breadcumb Area Start ##### -->
	<section class="breadcumb-area bg-img d-flex align-items-center justify-content-center" style="background-image: url(/main/img/bg-img/background1.jpg);">
		<div class="bradcumbContent">
			<h2>Reverse Book</h2>
		</div>
	</section>
	<!-- ##### Breadcumb Area End ##### -->

	<!-- ##### category Area Start ##### -->
	<section class="contact-form-area mb-100">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-lg-6">
					<div class="section-heading text-center">
						<div class="line-"></div>
						<h2>Choose ReverseAuctions</h2>
						<p>호스트가 입찰하면 게스트가 낙찰을 합니다.</p>
						<a href="/auction/reverse/add" class="btn palatin-btn mt-50">역경매 등록</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="search-result bg-gray">
						<h2 th:if="${sv}!=null" th:text="'\''+${sv}+'\'의 검색 결과'"></h2>
						<p th:text="${PM.allCount}+'개의 항목을 찾았습니다'"></p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3">
					<form action="/auction/reverse/list" method="get">
						<select class="form-control" name="sk" id="searchSelect">
							<option value="0">==== 선택 ====</option>
							<option value="reverseauction_title">제목</option>
							<option value="reverseauction_content">내용</option>
						</select>
						<input type="text" class="form-control" name="sv" id="search" placeholder="검색어를 입력하세요">
						<input type="text" class="form-control" id="datePicker1" name="date1" placeholder="Check-in" autocomplete=off>
						<input type="text" class="form-control" id="datePicker2" name="date2" placeholder="Check-out" autocomplete=off>
						<button type="submit" class="btn palatin-btn form-control" style="margin-bottom:30px">Search Now</button>
					</form>
					<p>더치옥션은 무엇인가요?</p>
					<a href="/auction">
						<button type="button" class="btn palatin-btn btn-2">Click Now</button><br><br>
					</a>
					<p>리버스옥션(역경매)은 무엇인가요?</p>
					<a href="/auction">
						<button type="button" class="btn palatin-btn btn-2">Click Now</button><br><br>
					</a>
					<p>더치옥션으로 숙소를 예약하고싶어요.</p>
					<a href="/auction/dutch/list">
						<button type="button" class="btn palatin-btn btn-2">Click Now</button><br><br>
					</a>
					<p>더치옥션을 등록하고싶어요.</p>
					<a href="/auction/dutch/register">
						<button type="button" class="btn palatin-btn btn-2">Click Now</button><br><br>
					</a>
					<p>리버스옥션을 등록하고싶어요.</p>
					<a href="/auction/reverse/add">
						<button type="button" class="btn palatin-btn btn-2">Click Now</button><br><br>
					</a>
					<p>내 옥션 목록을 보고싶어요.</p>
					<a href="/myAuctionList">
						<button type="button" class="btn palatin-btn btn-2">Click Now</button>
					</a>
				</div>
				<div class="col-lg-9">
					<div class="row">
						<div class="col-md-11">
							<select>
								<option>Most Recent</option>
								<option value="1">Most Popular</option>
								<option value="2">Lowest Price</option>
								<option value="4">Highest Price</option>
							</select>
						</div>
						<div class="col-md-1">
							<div class="view">
								<strong>Views</strong>
								<ul class="list-inline">
									<li class="list-inline-item"><a href="javascript:showList1();"><i class="fa fa-th-large"></i></a></li>
									<li class="list-inline-item"><a href="javascript:showList2();"><i class="fa fa-reorder"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- ##### Rooms Area Start ##### -->
					<section class="rooms-area section-padding-0-100">
						<div class="container">
							<div class="row" id="list1">
								<!-- Single Rooms Area -->
								<div class="col-12 col-md-6" th:if="${PM.allCount}>0" th:each="item : ${list}">
									<a href="#" th:href="@{/auction/reverse/detail(reverseauctionNo=${item.reverseauctionNo})}" style="padding:0 15px 0 15px">
										<div class="single-rooms-area wow fadeInUp" data-wow-delay="100ms">
											<!-- No -->
                        					<p class="price-from" th:text="${item.reverseauctionNo}"></p>
											<!-- Thumbnail -->
											<div class="bg-thumbnail bg-img" style="background-image: url(/main/img/bg-img/1.jpg);"></div>
											<!-- blind -->
											<i th:if="${item.auctionStateCategoryName}=='낙찰완료'" class="fa fa-check" style="color:DodgerBlue; z-index:100; position:absolute; right:0; top:-15px;" th:text="낙찰완료"></i>
											<!-- Rooms Text -->
											<div class="rooms-text">
												<div class="line"></div>
												<h4 th:text="${item.reverseauctionTitle}">Deluxe Room</h4>
												<p th:text="${item.reverseauctionContent}" style="word-break: break-all;">Room Content</p>
												<div class="line"></div>
												<!-- Address -->
												<p th:text="'Going to : '+${item.reverseauctionAddress}+' '+${item.reverseauctionAddressMore}">Address</p>
												<!-- Limit -->
												<p th:text="'￦'+${item.reverseauctionTenderLimit}+'↓'">Limit</p>
												<!-- NumberOfPeople -->
												<p th:text="'Travelers : '+${item.reverseauctionNumberOfPeople}">Trevelers</p>
												<!-- Date -->
												<p th:text="'check-in : '+${item.reverseauctionRoomingDate}">check-in</p>
												<p th:text="'check-out : '+${item.reverseauctionLeavingDate}">check-out</p>
											</div>
										</div>
									</a>
								</div>
							</div>
							<!-- Single Rooms Area2 -->
							<table class="table table-dark mt-30" th:if="${PM.allCount}>0" id="list2" style="display:none;">
								<tr>
									<td>no</td>
									<td>title</td>
									<td>Content</td>
									<td>addredss</td>
									<td>limit</td>
									<td>trevelers</td>
									<td>chech-in</td>
									<td>chech-out</td>
								</tr>
								<tr th:each="item : ${list}">
									<td th:text="${item.reverseauctionNo}">no</td>
									<td><a style="color:DodgerBlue;" th:href="@{/auction/reverse/detail(reverseauctionNo=${item.reverseauctionNo})}" th:text="${item.reverseauctionTitle}">title</a></td>
									<td th:text="${item.reverseauctionContent}">Content</td>
									<td th:text="${item.reverseauctionAddress}+' '+${item.reverseauctionAddressMore}">addredss</td>
									<td th:text="'￦'+${item.reverseauctionTenderLimit}+'↓'">limit</td>
									<td th:text="${item.reverseauctionNumberOfPeople}">trevelers</td>
									<td th:text="${item.reverseauctionRoomingDate}">chech-in</td>
									<td th:text="${item.reverseauctionLeavingDate}">chech-out</td>
								</tr>
							</table>
							<div class="col-12 col-md-6" th:unless="${PM.allCount}>0">
								<p>검색정보와 일치하는 경매를 찾을 수 없습니다.</p>
							</div>

							<div class="col-12" th:if="${PM.allCount}>0">
								<!-- Pagination -->
								<div class="pagination-area wow fadeInUp" data-wow-delay="200ms">
									<nav>
										<ul class="pagination">
											<li class="page-item" th:if="${prevPage}">
												<a class="page-link" th:href="@{/auction/reverse/list(page=${(PM.currentBlock - 1) * PM.pagePerBlock},sk=${sk},sv=${sv},date1=${date1},date2=${date2})}">이전</a>
											</li>
											<li class="page-item" th:each="i : ${#numbers.sequence(PM.startPage, PM.endPage)}" th:classappend="${PM.currentPage} == ${i} ? active : null">
												<a class="page-link" th:text="${i}+'.'" th:href="@{/auction/reverse/list(page=${i},sk=${sk},sv=${sv},date1=${date1},date2=${date2})}">01.</a>
											</li>
											<li class="page-item" th:if="${nextPage}">
												<a class="page-link" th:href="@{/auction/reverse/list(page=${PM.currentBlock * PM.pagePerBlock + 1},sk=${sk},sv=${sv},date1=${date1},date2=${date2})}">다음</a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
					</section>
					<!-- ##### Rooms Area End ##### -->
				</div>
			</div>
		</div>
	</section>
	<!-- ##### category Area End ##### -->

	<!-- footer replace -->
	<div th:replace="footer :: footer"></div>

	<!-- Popper js -->
	<script src="/main/js/bootstrap/popper.min.js"></script>
	<!-- Bootstrap js -->
	<script src="/main/js/bootstrap/bootstrap.min.js"></script>
	<!-- All Plugins js -->
	<script src="/main/js/plugins/plugins.js"></script>
	<!-- Active js -->
	<script src="/main/js/active.js"></script>
</body>
</html>