<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.stay.alive.login.mapper.LoginMapper" >
	<!-- 로그인 -->
	<select id="selectLogin" parameterType="com.stay.alive.login.vo.LoginVo" resultType="com.stay.alive.login.vo.LoginVo">
		SELECT member_id, group_name, member_nickname FROM member WHERE member_id = #{memberId} AND member_password = #{memberPassword}
	</select>
	<select id="selectMemberSaltFromId" resultType="String">
		SELECT salt FROM member WHERE  member_id = #{memberId}
	</select>
	<!-- 로그인 -->
</mapper>