<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<body>
	<div class="container">
		<form action ="companyRegister" method ="post" >
			<table>
				<tr>
					<td><label>업체명</label></td>
					<td><input type = "text" class ="form-control" name = "companyName"></td>
				</tr>
				<tr>
					<td><label >업체 홈페이지</label></td>
					<td ><input type = "text" class ="form-control" name = "companyHomepage" ></td>
				</tr>
				<tr>
					<td><label >업체 주소</label></td>
					<td ><input type = "text" class ="form-control" name = "companyAddress" ></td>
					</td>
				</tr>
				<tr>
					<td colspan = "2" align="right"><button type = "submit">등록하기</button></td>
				</tr>
			</table>
			<input type = "hidden" name = "memberId"  value="0">
		</form>
		
	</div>


</body>
</html>