<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>stayalive &amp; 내가 원하는 숙소를 싸게 구하자</title>

    <!-- Favicon -->
    <link rel="icon" href="/main/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="/main/style.css">
</head>

<body class="body-wrapper">
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="cssload-container">
            <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
        </div>
    </div>
	
	<!-- header replace -->
    <div th:replace="header :: header"></div>
    
    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img d-flex align-items-center justify-content-center" style="background-image: url(/main/img/bg-img/bg-2.jpg);">
        <div class="bradcumbContent">
            <h2>Company List</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

<section class="contact-form-area mb-100">
	<div class="container">
		<div class="row">
	        <div class="col-12">
	            <div class="section-heading">
	                <div class="line-"></div>
	                <h2>업체 리스트</h2>
	            </div>
	        </div>
        </div>
		<div class="row">
			<div class="col-md-12">
				<div class="search-result bg-gray">
					<h2>"<span th:text="${searchWord}"></span>"의 검색 결과</h2>
					<p><span th:text="${companyListCount}"></span> 개의 항목을 찾았습니다</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<form action="/company/list" method="get">
					<select class="form-control" id="select1" name="searchKey">
					      <option value="">==== 선택 ====</option>
					      <option value="company_name">업체명</option>
					      <option value="company_name_detail">업체명+내용</option>
					      <option value="member_id">업체회원ID</option>
					      <option value="member_nickname">업체회원닉네임</option>
					</select>
					<input type="text" class="form-control" placeholder="검색어를 입력하세요" name="searchWord">
					<button type="submit" class="btn palatin-btn">Search Now</button>
				</form>
			</div>
			<div class="col-md-9">
				<div class="row">
					<div class="col-md-11">
						<select>
							<option>Most Recent</option>
							<option value="1">Most Popular</option>
							<option value="2">Lowest Price</option>
							<option value="4">Highest Price</option>
						</select>
					</div>
					<div class="col-md-1">
						<div class="view">
							<strong>Views</strong>
							<ul class="list-inline">
								<li class="list-inline-item">
									<a href="javascript:void(0);"><i class="fa fa-th-large"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="javascript:void(0);"><i class="fa fa-reorder"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<table class="table table-bordered">
							<thead>
								<tr>
									<td>업체명</td>
									<td>업체회원닉네임(업체회원ID)</td>
								</tr>
							</thead>
							<tbody th:each = "map : ${memberAndCompanyList}">
					            <tr class="table-secondary">
					               <td><a href="#" class="text-primary" data-toggle="modal" data-target="#theModal" th:attr="data-remote=${map['companyNo']}" th:text="${map['companyName']}"></a></td>
					               <td th:text="${map['memberNickname'] + ' (' + map['memberId'] + ')'}"></td>
					            </tr>
				       		</tbody>
						</table>
						
					    <!-- Pagination -->
					    <div class="pagination-area wow fadeInUp" data-wow-delay="100ms">
					        <nav>
					            <ul class="pagination">
					                <li class="page-item" th:if="${prevPage}"><a class="page-link" th:href="@{/company/list(searchKey=${searchKey},searchWord=${searchWord},currentPage=${(currentBlock - 1) * pagePerBlock})}">이전</a></li>
					                <li class="page-item" th:each="i : ${#numbers.sequence(startPage, endPage)}" th:classappend="${currentPage} == ${i} ? active : null"><a class="page-link" th:href="@{/company/list(searchKey=${searchKey},searchWord=${searchWord},currentPage=${i})}" th:text="${i}"></a></li>
					                <li class="page-item" th:if="${nextPage}"><a class="page-link" th:href="@{/company/list(searchKey=${searchKey},searchWord=${searchWord},currentPage=${currentBlock * pagePerBlock + 1})}">다음</a></li>
					            </ul>
					        </nav>
					    </div>
				    </div>
				</div>
			</div>
		</div>
	</div>
</section>
	
	<!-- footer replace -->
	<div th:replace="footer :: footer"></div>
 	
 	<!-- 모달  -->
	<div class="modal fade" id="theModal" tabindex="-1" role="dialog">
	    <div class="modal-dialog modal-lg" >
      		<div class="modal-content"><br>
	        	<div class="modal-header">
                	<h3 class="modal-title" id="modalLabel">
                	
                	</h3>
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                    <span aria-hidden="true">x</span>
	                </button>
            	</div>

	        	<div class="single-contact-information mb-100">
		        	<div class="section-text">
		        	<div class="contact-content d-flex">
                            <p>
			               		&ensp;업체 상세
			            	</p>
                            <p class="modal-bb">
			               
			            	</p>
                        </div>
	                </div>
		            <div class="modal-footer">
		                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		            </div>
	        	</div>
	        </div>
	    </div>
	</div>
 	   
    <!-- jQuery-2.2.4 js -->
    <script src="/main/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/main/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/main/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/main/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="/main/js/active.js"></script>
    <script th:inline="javascript">
		$("#companyList").addClass('active');
		$(function() {
			var map;
			$('#theModal').on('show.bs.modal', function (event) {
				$(".modal-bb").empty();
				$(".modal-title").empty();
				var button = $(event.relatedTarget);
			  	$.ajax({
			  		url : "detail",
			  		data : {"companyNo" : button.data("remote")},
			  		type: 'GET',
					contentType:"application/x-www-form-urlencoded",
					success: function(data){
					    $(".modal-bb").append(data.companyDetail);
					    $(".modal-title").append(data.companyName);
	         	    }
			  	});
			});
			    
			});
	</script>
</body>
</html>