<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="main/style.css">
	<title>reverseauctionList</title>
</head>
<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="cssload-container">
            <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
        </div>
    </div>
	
	<!-- header replace -->
    <div th:replace="header :: header"></div>
    
	<div style="position:absolute; top:160px;">
		<h1>test</h1>
		<a href="companyRegister" class="btn">업체 등록</a>
		<table border="1">
			<tbody>
				<tr>
					<td>companyNo</td>
					<td>companyName</td>
					<td>companyHomepage</td>
				</tr>
				<tr th:each="item : ${companyList}">
					<td th:text="${item.companyNo}"></td>
					<td th:text="${item.companyName}"></td>
					<td th:text="${item.companyHomepage}"></td>
				</tr>
			</tbody>
		</table>
		<div class="col-12">
		    <!-- Pagination -->
		    <div class="pagination-area wow fadeInUp" data-wow-delay="400ms">
		        <nav>
		            <ul class="pagination">
		                <li class="page-item" th:if="${prevPage}"><a class="page-link" th:href="@{companyList(searchWord=${searchWord},currentPage=${(currentBlock - 1) * pagePerBlock})}">이전</a></li>
		                <li class="page-item" th:each="i : ${#numbers.sequence(startPage, endPage)}" th:classappend="${currentPage} == ${i} ? active : null"><a class="page-link" th:href="@{companyList(searchWord=${searchWord},currentPage=${i})}" th:text="${i}"></a></li>
		                <li class="page-item" th:if="${nextPage}"><a class="page-link" th:href="@{companyList(searchWord=${searchWord},currentPage=${currentBlock * pagePerBlock + 1})}">다음</a></li>
		            </ul>
		        </nav>
		    </div>
		</div>
	</div>
    <!-- jQuery-2.2.4 js -->
    <script src="main/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="main/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="main/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="main/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="main/js/active.js"></script>
    <script>
		$("#companyList").addClass('active');
	</script>
</body>
</html>