<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stay.alive.auction.reverse.mapper.ReverseauctionSuccessfulbidMapper">
  
  <select id="selectReverseauctionSuccessfulbid" resultType="com.stay.alive.auction.reverse.vo.ReverseauctionSuccessfulbid">
  	SELECT *
  	FROM reverseauction_successfulbid
  	WHERE reverseauction_no=#{reverseauctionNo}
  </select>
    
  <select id="selectForSuccessfulbid" resultType="com.stay.alive.auction.reverse.vo.ReverseauctionSuccessfulbid">
  	SELECT 
  		t.reverseauction_no,
  		t.reverseauction_tender_no,
  		g.guestroom_option_no,
  		g.guestroom_option_name,
  		t.reverseauction_tender_price,
  		r.reverseauction_rooming_date,
  		r.reverseauction_leaving_date
	FROM ((reverseauction_tender t
	LEFT JOIN reverseauction_register r ON t.reverseauction_no = r.reverseauction_no)
	LEFT JOIN guestroom_option g ON t.guestroom_no = g.guestroom_no)
	WHERE t.reverseauction_tender_no=#{reverseacutionTenderNo}
  </select>
  
  <select id="selectAuctionStateByName" parameterType="string" resultType="com.stay.alive.auction.vo.AuctionStateCategory">
  	SELECT *
  	FROM auction_state_category
  	WHERE auction_state_category_name=#{string}
  </select>
  
  <insert id="insertReverseauctionSuccessfulbid" parameterType="com.stay.alive.auction.reverse.vo.ReverseauctionSuccessfulbid">
  	INSERT INTO reverseauction_successfulbid(
  			reverseauction_successfulbid_no,
  			reverseauction_no,
  			reverseauction_tender_no,
  			guestroom_option_no,
  			guestroom_option_name,
  			guestroom_additional_price,
  			reverseauction_successfulbid_price,
  			reverseauction_successfulbid_date,
  			reverseauction_rooming_date,
  			reverseauction_leaving_date,
  			auction_state_category_no,
  			auction_state_category_name)
  	VALUES(	0,
  			#{reverseauctionNo},
  			#{reverseauctionTenderNo},
  			<if test="guestroomOptionNo!=0">#{guestroomOptionNo},</if>
  			<if test="guestroomOptionNo==0">null,</if>
  			#{guestroomOptionName},
  			#{guestroomAdditionalPrice},
  			#{reverseauctionSuccessfulbidPrice},
  			now(),
  			#{reverseauctionRoomingDate},
  			#{reverseauctionLeavingDate},
  			2,
  			"낙찰완료")
  </insert>
  
  <update id="updateReverseauctionState" parameterType="com.stay.alive.auction.vo.AuctionStateCategory">
  	UPDATE reverseauction_register
  		SET
  			auction_state_category_no=#{auctionStateCategory.auctionStateCategoryNo},
  			auction_state_category_name=#{auctionStateCategory.auctionStateCategoryName}
  	WHERE reverseauction_no=#{reverseauctionNo}
  </update>
  
  <update id="updateReverseauctionTenderState" parameterType="com.stay.alive.auction.vo.AuctionStateCategory">
  	UPDATE reverseauction_tender
  		SET
  			auction_state_category_no=#{auctionStateCategory.auctionStateCategoryNo},
  			auction_state_category_name=#{auctionStateCategory.auctionStateCategoryName}
  	WHERE reverseauction_tender_no=#{reverseauctionTenderNo}
  </update>
  
  <delete id="deleteReverseauctionSuccessfulbid">
  	DELETE FROM reverseauction_successfulbid
  	WHERE reverseauction_successfulbid_no=#{reverseauctionSuccessfulbidNo}
  </delete>
  
  <delete id="deleteReverseauctionSuccessfulbidForDeleteReverseauction">
  	DELETE FROM reverseauction_successfulbid
  	WHERE reverseauction_no=#{reverseauctionNo}
  </delete>
</mapper>