<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stay.alive.auction.reverse.mapper.ReverseauctionMapper">
  <select id="selectCountReverseauction" resultType="int">
  	SELECT COUNT(*)
  	FROM reverseauction_register
  </select>
  
  <select id="selectCountReverseauctionSearch" resultType="int">
  	SELECT COUNT(*)
  	FROM reverseauction_register
  	<where>
	  	<if test="sv != null and sv != ''">
	  	  ${sk} LIKE #{sv}</if>
	  	<if test="date1 != null and date2 == null">
	  	  AND reverseauction_rooming_date &gt; #{date1}</if>
	  	<if test="date2 != null and date1 == null">
	  	  AND reverseauction_leaving_date &lt; #{date2}</if>
	  	<if test="date1 != null and date2 != null">
	  	  AND reverseauction_rooming_date &gt; #{date1} AND reverseauction_leaving_date &lt; #{date2}</if>
  	</where>
  </select>
  
  <select id="selectReverseauctionState" resultType="String">
  	SELECT auction_state_category_name
  	FROM reverseauction_register
  	WHERE reverseauction_no=#{reverseauctionNo}
  </select>
  
  <select id="selectReverseauctionList" resultType="com.stay.alive.auction.reverse.vo.Reverseauction">
  	SELECT *
  	FROM reverseauction_register
  	LIMIT #{startRow},#{rowPerPage}
  </select>
  
  <select id="selectReverseauctionSearchList" resultType="com.stay.alive.auction.reverse.vo.Reverseauction">
  	SELECT *
  	FROM reverseauction_register
  	<where>
	  	<if test="sv != null and sv != ''">
	  	  ${sk} LIKE #{sv}
	  	</if>
	  	<if test="date1 != null and date2 == null">
	  	  AND reverseauction_rooming_date &gt; #{date1}</if>
	  	<if test="date2 != null and date1 == null">
	  	  AND reverseauction_leaving_date &lt; #{date2}</if>
	  	<if test="date1 != null and date2 != null">
	  	  AND reverseauction_rooming_date &gt; #{date1} AND reverseauction_leaving_date &lt; #{date2}</if>
  	</where>
	ORDER BY reverseauction_register_date DESC
	LIMIT #{pageMaker.startRow},#{pageMaker.rowPerPage}
  </select>
  
  <select id="selectReverseauctionOne" resultType="com.stay.alive.auction.reverse.vo.Reverseauction">
  	SELECT *
  	FROM reverseauction_register
  	WHERE reverseauction_no=#{reverseauctionNo}
  </select>
  
  <select id="selectReverseauctionListById" parameterType="com.stay.alive.auctin.reverse.vo.Reverseauction" resultType="com.stay.alive.auction.reverse.vo.Reverseauction">
  	SELECT
  	  reverseauction_no,
	  reverseauction_register_date,
	  reverseauction_update_date,
	  reverseauction_title,
	  reverseauction_content,
	  reverseauction_tender_count,
	  auction_state_category_name
    FROM reverseauction_register
    WHERE member_id = #{memberId}
  </select>
  
  <insert id="insertReverseauction" parameterType="com.stay.alive.auction.reverse.vo.Reverseauction">
  	INSERT INTO reverseauction_register(
  			reverseauction_no,
  			member_id,
  			reverseauction_register_date,
  			reverseauction_update_date,
  			reverseauction_tender_limit,
  			reverseauction_tenderclose_date,
  			reverseauction_rooming_date,
  			reverseauction_leaving_date,
  			reverseauction_title,
  			reverseauction_address,
  			reverseauction_address_more,
  			reverseauction_hits,
  			reverseauction_content,
  			reverseauction_tender_count,
  			auction_state_category_no,
  			auction_state_category_name,
  			reverseauction_number_of_people)
  	VALUES (0,
  			#{memberId},
  			now(),
  			null,
  			#{reverseauctionTenderLimit},
  			#{reverseauctionTendercloseDate},
  			#{reverseauctionRoomingDate},
  			#{reverseauctionLeavingDate},
  			#{reverseauctionTitle},
  			#{reverseauctionAddress},
  			#{reverseauctionAddressMore},
  			0,
  			#{reverseauctionContent},
  			0,
  			1,
  			"낙찰대기중",
  			#{reverseauctionNumberOfPeople})
  </insert>
  
  <update id="updateReverseauction" parameterType="com.stay.alive.auction.reverse.vo.Reverseauction">
  	UPDATE reverseauction_register
  	  SET
  	  	reverseauction_update_date=now(),
  	    reverseauction_tender_limit=#{reverseauctionTenderLimit},
  	  	reverseauction_tenderclose_date=#{reverseauctionTendercloseDate},
  	  	reverseauction_leaving_date=#{reverseauctionLeavingDate},
		reverseauction_title=#{reverseauctionTitle},
		reverseauction_address=#{reverseauctionAddress},
		reverseauction_address_more=#{reverseauctionAddressMore},
		reverseauction_content=#{reverseauctionContent}
	WHERE reverseauction_no=#{reverseauctionNo}
  </update>
  
  <update id="plusReverseauctionHits">
  	UPDATE reverseauction_register
  	  SET
  	  	reverseauction_hits = reverseauction_hits + 1
  	WHERE reverseauction_no=#{reverseauctionNo}
  </update>

  <delete id="deleteReverseauction">
  	DELETE FROM reverseauction_register
  	WHERE reverseauction_no=#{reverseauctionNo}
  </delete>

</mapper>