<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stay.alive.auction.reverse.mapper.ReverseauctionMapper">
  <select id="selectReverseauctionAll" resultType="com.stay.alive.auction.reverse.vo.Reverseauction">
  	SELECT *
  	FROM reverseauction_register
  </select>
  <select id="selectReverseauctionSearchList" resultType="com.stay.alive.auction.reverse.vo.Reverseauction">
  	SELECT *
  	FROM reverseauction_register
  	WHERE ${sk}=#{sv}
  </select>
  <select id="selectReverseauctionOne" resultType="com.stay.alive.auction.reverse.vo.Reverseauction">
  	SELECT *
  	FROM reverseauction_register
  	WHERE reverseauction_no=#{reverseauctionNo}
  </select>
  <insert id="insertReverseauction">
  	INSERT INTO reverseauction_register
  	VALUES (0,
  			#{memberId},
  			now(),
  			null,
  			#{reverseauctionTenderLimit},
  			#{reverseauctionTendercloseDate},
  			#{reverseauctionRoomingDate},
  			#{reverseauctionLeavingDate},
  			#{reverseauctionTitle},
  			#{reverseauctionAddress},
  			#{reverseauctionAddressMore},
  			0,
  			#{reverseauctionContent},
  			0,
  			1,
  			"낙찰 대기")
  </insert>
  <update id="updateReverseauction" parameterType="com.stay.alive.auction.reverse.vo.Reverseauction">
  	UPDATE reverseauction_register
  	  SET
  	  	reverseauction_update_date=now(),
  	    reverseauction_tender_limit=#{reverseauctionTenderLimit},
  	  	reverseauction_tenderclose_date=#{reverseauctionTendercloseDate},
  	  	reverseauction_leaving_date=#{reverseauctionLeavingDate},
		reverseauction_title=#{reverseauctionTitle},
		reverseauction_address=#{reverseauctionAddress},
		reverseauction_address_more=#{reverseauctionAddressMore},
		reverseauction_content=#{reverseauctionContent}
	WHERE reverseauction_no=#{reverseauctionNo}
  </update>
  <delete id="deleteReverseauction">
  	DELETE FROM reverseauction_register
  	WHERE reverseauction_no=#{reverseauctionNo}
  </delete>
  <insert id="insertReverseauctionTender">
  	INSERT INTO reverseauction_tender
  	VALUES()
  </insert>
</mapper>