<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stay.alive.auction.reverse.mapper.ReverseauctionSuccessfulbidMapper">
  
  <select id="selectReverseauctionSuccessfulbid" resultType="com.stay.alive.auction.reverse.vo.ReverseauctionSuccessfulbid">
  	SELECT *
  	FROM reverseauction_successfulbid
  	WHERE reverseauction_no=#{reverseauctionNo}
  </select>
    
  <select id="selectForSuccessfulbid" resultType="com.stay.alive.auction.reverse.vo.ReverseauctionSuccessfulbid">
  	SELECT *
  	FROM reverseauction_tender t
  	INNER JOIN guestroom_option g ON t.guestroom_no = g.guestroom_no
  	INNER JOIN reverseauction_register r ON t.reverseauction_no = r.reverseauction_no
  	WHERE t.reverseauction_tender_no=#{reverseacutionTenderNo}
  </select>
  
  <insert id="insertReverseauctionSuccessfulbid">
  	INSERT INTO reverseauction_successfulbid
  	VALUES(0,
  			#{reverseauctionNo},
  			#{reverseauctionTenderNo},
  			#{guestroomOptionNo},
  			#{guestroomOptionName},
  			#{guestroomAdditionalPrice},
  			#{reverseauctionSuccessfulbidPrice},
  			now(),
  			#{reverseauctionRoomingDate},
  			#{reverseauctionLeavingDate},
  			2,
  			"낙찰완료")
  </insert>
  
  <delete id="deleteReverseauctionSuccessfulbid">
  	DELETE FROM reverseauction_successfulbid
  	WHERE reverseauction_successfulbid_no=#{reverseauctionSuccessfulbidNo}
  </delete>
</mapper>