<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>숙소 수정</title>
</head>
<body>
	<!-- header replace -->
    <div th:replace="header :: header"></div>

	<!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img d-flex align-items-center justify-content-center" style="background-image: url(/main/img/bg-img/background2.jpg);">
        <div class="bradcumbContent">
            <h2>board Modify</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->
    
     <!-- ##### Contact Form Area Start ##### -->
    <section class="contact-form-area mb-100">
       <div class="container" style="max-width: 1050px">
           <div class="row">
               <div class="col-12">
                   <div class="section-heading">
                       <div class="line-"></div>
                       <h2>게시글 수정</h2>
                   </div>
               </div>
           </div>
		
			<div class="row">
				<div class="col-md-9">
					<form id="updateBoardFrm" enctype="multipart/form-data">
						<div class="row">
							<input type="hidden" name="boardMemberNo">
							<input type="hidden" name="imageFileNo">
						</div>
						<div class="input-group" style="padding-left: 200px">
			 				<select id="selectBoard" class="custom-select col-5" >
					 			<option value="">수정할 게시글을 골라주세요
					 			<option th:each="name : ${names}" th:value="${name}" th:text="${name}">
			 				</select>
			 			</div>
			 			<div class="form-group">
					    	<div class="form-row">
					    		<label class = "col-2 col-form-label">제목</label>
					    		<input class="form-control form-control-sm col-4" type="text" id="boardMemberTitle" name="boardMemberTitle">
							</div>
		    			</div>
			    		<div class="form-group">
			    			<div class="form-row">
		    					<label class="col-2 col-form-label">내용</label>
			    				<input class="form-control form-control-sm col-2" type="file" name="file">
								<input class="form-control form-control-sm col-2" type="file" name="file">
								<input class="form-control form-control-sm" type="button" id="uploadbutton" value="업로드" style="width: 60px">
			    			</div>
			    		</div>
			    		<div class="form-group text-right">
			    			<div class="col-2"></div>
			    			<textarea name="boardMemberContent" id="editor"  style="width: 760px"></textarea>
			    			<input type="button"class="btn palatin-btn mt-50" id="updateBoard" value="수정" />
			    		</div>
					</form>
				</div>
			</div>
		</div> 
	</section>
</body>
<!-- Favicon -->
<link rel="icon" href="/main/img/core-img/favicon.ico">
<!-- Popper js -->
<script src="/main/js/bootstrap/popper.min.js"></script>
<!-- jQuery-2.2.4 js -->
<script src="/main/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Bootstrap js -->
<script src="/main/js/bootstrap/bootstrap.min.js"></script>
<!-- smarteditor 플러그인(2.9.1)  -->
<script src="/smarteditor/js/service/HuskyEZCreator.js" charset="utf-8"></script>
<!-- Core Stylesheet -->
<link rel="stylesheet" href="/main/style.css">
<!-- All Plugins js -->
<script src="/main/js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="/main/js/active.js"></script>
<script type="text/javascript">
	$("#boardModify").addClass('active');
    $(function(){
    	var count = 1;
        //전역변수
        var obj = [];              
        //스마트에디터 프레임생성
        nhn.husky.EZCreator.createInIFrame({
            oAppRef: obj,
            elPlaceHolder: "editor",
            sSkinURI: "/smarteditor/SmartEditor2Skin.html",
            fCreator: "createSEditor2"
        });
        //전송버튼
        $("#updateBoard").click(function(){
            var setForm = $('#updateBoardFrm');
            setForm.attr('action','modifyAction');
            setForm.attr('method','post');
            obj.getById["editor"].exec("UPDATE_CONTENTS_FIELD", []);
            $("#updateBoardFrm").submit();
        });
        $("#uploadbutton").click(function(){
        	if(count > 1) {
        		alert("업로드는 한번만 할 수 있습니다.");
        		return;
        	}
        	count++;
            var form = $('#updateBoardFrm')[0];
            var formData = new FormData(form);
      	  	$.ajax({
	      	    url: 'addDetailImage',
	      	    data : formData,
	      	    type: 'POST',
	      	    processData:false,
	      	    contentType:false,
	      	    success: function(data){
	      	    	obj.getById["editor"].exec("PASTE_HTML", [data]);
      	    }
      	  });
        });
        $("#selectBoard").on('change',function() {
        	var name = $("#selectBoard").val();
        	if(name != "") {
            	  $.ajax({
                	    url: 'findModify',
                	    data : {name},
                	    type: 'GET',
						contentType:"application/x-www-form-urlencoded",
                	    success: function(data){
							/* console.log(data); */
							$("input[name='boardMemberNo']").val(data.boardMemberNo);
							$("input[name='boardMemberTitle']").val(data.boardMemberTitle);
							$("input[name='boardMemberContent']").val(data.boardMemberContent);
							$("input[name='memberId']").val(data.memberId);
							$("input[name='imageFileNo']").val(data.imageFileNo);
							obj.getById["editor"].exec("SET_IR", [""]);
							obj.getById["editor"].exec("PASTE_HTML", [data.boardMemberContent]);
                	    }
                	});
        	}        	
        });  
    });
</script>
</html>