<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stay.alive.ad.mapper.AdMapper">	
	<select id="selectAdCost" resultType="String">
		SELECT ad_cost_no FROM ad_cost WHERE ad_cost_no = #{adCostNo}
	</select>
	<select id="selectAdGroup" resultType="String">
		SELECT ad_group_no FROM ad_group WHERE ad_group_no = #{adGroupNo}
	</select>
	<select id="selectAdInfo" resultType="com.stay.alive.ad.vo.Ad">
		SELECT * FROM ad_register WHERE ad_register_no = #{adRegisterNo}
	</select>
	<select id="selectAdAll">
		SELECT * FROM ad_register
	</select>
	<insert id="insertAd" parameterType="com.stay.alive.ad.vo.Ad">
		INSERT INTO ad_register(
					member_id,
					ad_register_date,
					ad_cost_no,
					ad_register_start,
					ad_register_end,
					ad_group_no,
					ad_register_link		
		) VALUES(
			#{memberId},
			now()
			#{adCostNo},
			#{adRegisterStart},
			#{adRegisterEnd},
			#{adGroupNo},
			#{adRegisterLink},
		)
	</insert>
	<!-- <update id="updateAd" parameterType="com.stay.alive.ad.vo.ad">
		UPDATE ad_register SET 
	</update> -->
</mapper>