<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.stay.alive.member.group.mapper.MemberGroupMapper" >
	<select id="selectMemberGroupList" resultType="com.stay.alive.member.group.vo.MemberGroup">
      	SELECT 
	      	group_no as groupNo, 
	      	group_name as groupName, 
	      	group_register_date as groupRegisterDate
   		FROM member_group
	</select>
</mapper>