<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>회원가입</title>
<script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
</head>
<body>
	<form action="/member/addMember" method="post" id="addMemberForm" name="join" onsubmit="return validate();">
	<table border="1" style="margin:0 auto;">
		<tr>
			<td>아이디</td>
			<td>
				<input type="text" name="memberId" id="memberId" placeholder="4자 이상 10자 이하의 영문 또는 숫자">
				<button type="button" class="idCheck" id="hid1" name="hid1" value="0">아이디 확인</button>
				<p class="result"><span class="msg">아이디를 확인해주십시오.</span></p>
			</td>
		</tr>
		<tr>
			<td>비밀번호</td><td><input type="password" name="memberPassword" id="memberPassword" placeholder="4자 이상 12자 이하 영문,숫자,특수문자"></td>
		</tr>
		<tr>
			<td>비밀번호확인</td><td><input type="password" name="memberPasswordCheck" id="memberPasswordCheck"></td>
		</tr>
		<tr>
			<td>성명</td><td><input type="text" name="memberName" id="memberName"></td>
		</tr>
		<tr>
			<td>닉네임</td>
			<td>
				<input type="text" name="memberNickname" id="memberNickname" placeholder="2자 이상 8자 이하(특수문자 제외)">
				<button type="button" class="nicknameCheck">닉네임 확인</button>
				<p class="result2"><span class="msg2">닉네임을 확인해주십시오.</span></p>
			</td>
		</tr>
		<tr>
			<td>생년월일</td><td><input type="date" name="memberBirth" id="memberBirth"></td>
		</tr>
		<tr>
			<td>연락처</td><td><input type="text" name="memberPhoneNumber1" id="memberPhoneNumber1" placeholder="-를 빼고 입력하세요"></td>
		</tr>
		<tr>
			<td>이메일</td><td><input type="text" name="memberEmail" id="memberEmail"></td>
		</tr>
		<tr>
			<td>이메일 수신동의</td><td><input type="radio" name="memberEmailAccept" value="Y" checked>동의<input type="radio" name="memberEmailAccept" value="N">거절</td>
		</tr>
		<tr>
			<td>sms수신동의</td><td><input type="radio" name="memberSmsAccept" value="Y" checked>동의<input type="radio" name="memberSmsAccept" value="N">거절</td>
		</tr>
		<tr>
			<td><button type="submit" id="submitBtn" class="submitBtn">가입</button></td>
		</tr>
	</table>
	</form>
<script>
//1.아이디 확인

$(".idCheck").click(function(){		
	var query = {memberId : $("#memberId").val()};
	
	if ($("#memberId").val() == ""){
		$(".result .msg").text("아이디를 입력하세요.");
		$(".result .msg").attr("style", "color:#00f");
		return;
	};
	
	$.ajax({
		url : "/idCheck",
		type : "post",
		data : query,
		success : function(data) {
			if(data == 1) {
				$(".result .msg").text("사용 불가");
				$(".result .msg").attr("style", "color:#f00");
				
			} else {
				$(".result .msg").text("사용 가능");
				$(".result .msg").attr("style", "color:#00f");
				$(".idCheck").val(join.memberId.value);
				abc = join.memberId.value;
				console.log(abc);

			}
		}
	});  // ajax 끝
});
$("#memberId").keyup(function(){
	$(".result .msg").text("아이디를 확인해주십시오.");
	$(".result .msg").attr("style", "color:#000");
	$("#submit").attr("disabled", "disabled");
});

//2.닉네임 확인
$(".nicknameCheck").click(function(){
	var inputed = {memberNickname : $("#memberNickname").val()};
	
	$.ajax({
		url : "/nicknameCheck",
		type : "post",
		data : inputed,
		success : function(data) {
			if(data == 1) {
				$(".result2 .msg2").text("사용 불가");
				$(".result2 .msg2").attr("style", "color:#f00");
				$("#submit").attr("disabled", "disabled");
			} else {
				$(".result2 .msg2").text("사용 가능");
				$(".result2 .msg2").attr("style", "color:#00f");
				$("#submit").removeAttr("disabled");
			}
		}
	});  // ajax 끝
});
$("#memberNickname").keyup(function(){
$(".result2 .msg2").text("닉네임을 확인해주십시오.");
$(".result2 .msg2").attr("style", "color:#000");
$("#submit").attr("disabled", "disabled");
});

//3.중복아이디 두번확인


   function validate() {
       var re = /^[a-zA-Z0-9]{4,12}$/; // 아이디와 패스워드가 적합한지 검사할 정규식
       var re2 = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
       var re3 = /^[a-zA-Z0-9가-힣]{2,8}$/;
       var re4 = /^[0-9]$/;
       
       // 이메일이 적합한지 검사할 정규식

       var id = document.getElementById("memberId");
       var pw = document.getElementById("memberPassword");
       var email = document.getElementById("memberEmail");
       var nick = document.getElementById("memberNickname");
       // ------------ 이메일 까지 -----------

       if(!check(re,id,"아이디는 4~12자의 영문 대소문자와 숫자로만 입력")) {
           return false;
       }

       if(!check(re,pw,"패스워드는 4~12자의 영문 대소문자와 숫자로만 입력")) {
           return false;
       }

       if(join.memberPassword.value != join.memberPasswordCheck.value) {
           alert("비밀번호가 다릅니다. 다시 확인해 주세요.");
           join.memberPasswordCheck.value = "";
           join.memberPasswordCheck.focus();
           return false;
       }
       if(join.memberName.value=="") {
           alert("이름을 입력해 주세요");
           join.memberName.focus();
           return false;
       }
       if(join.memberNickname.value=="") {
           alert("닉네임을 입력해 주세요");
           join.memberNickname.focus();
           return false;
       }
       if(!check(re3,nick,"닉네임은 2~8자로 작성해 주세요.(특수문자 제외)")) {
           return false;
       }
       if(join.memberBirth.value=="") {
           alert("생년월일을 입력해 주세요");
           join.memberBirth.focus();
           return false;
       }
       if(join.memberPhoneNumber1.value=="") {
           alert("연락처를 입력해 주세요");
           join.memberPhoneNumber1.focus();
           return false;
       }
       if(!check(re3,join.memberPhoneNumber1,"-를 빼고 입력해 주세요.")) {
           return false;
       }
       if(email.value=="") {
           alert("이메일을 입력해 주세요");
           email.focus();
           return false;
       }
       if(!check(re2, email, "적합하지 않은 이메일 형식입니다.")) {
           return false;
       }
       
       if(join.hid1.value=="0") {
   		alert("아이디 중복을 확인해 주세요.");
   		join.memberId.focus();
   		return false;
	   }
       
       if(join.hid1.value != join.memberId.value) {
	   	alert("아이디 중복을 확인해 주세요.");
	   	return false;
	   }
	   
       alert("회원가입이 완료되었습니다.");
   }
   function check(re, what, message) {
       if(re.test(what.value)) {
           return true;
       }
       alert(message);
       what.value = "";
       what.focus();
       //return false;
   }
</script>
</body>
</html>