<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>회원가입</title>
<script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
</head>
<body>
	<form action="/member/addMember" method="POST" id="addMemberForm">
	<table border="1" style="margin:0 auto;">
		<tr>
			<td>아이디</td>
			<td>
				<input type="text" id="memberId">
				<button type="button" class="idCheck">아이디 확인</button>
				<p class="result"><span class="msg">아이디를 확인해주십시오.</span></p>
			</td>
		</tr>
		<tr>
			<td>비밀번호</td><td><input type="password" name="memberPassword"></td>
		</tr>
		<tr>
			<td>성명</td><td><input type="text" name="memberName"></td>
		</tr>
		<tr>
			<td>닉네임</td><td><input type="text" name="memberNickname"></td>
		</tr>
		<tr>
			<td>생년월일</td><td><input type="date" name="memberBirth"></td>
		</tr>
		<tr>
			<td>연락처</td><td><input type="text" name="memberPhoneNumber1"></td>
		</tr>
		<tr>
			<td>이메일</td><td><input type="text" name="memberEmail"></td>
		</tr>
		<tr>
			<td>이메일 수신동의</td><td><input type="radio" name="memberEmailAccept" value="Y" checked>동의<input type="radio" name="memberEmailAccept" value="N">거절</td>
		</tr>
		<tr>
			<td>sms수신동의</td><td><input type="radio" name="memberSmsAccept" value="Y" checked>동의<input type="radio" name="memberSmsAccept" value="N">거절</td>
		</tr>
		<tr>
			<td><button type="submit" id="addsubmit">가입</button></td>
		</tr>
	</table>
	</form>
<script> 
$(".idCheck").click(function(){
 
 var query = {memberId : $("#memberId").val()};
 
 $.ajax({
  url : "/idCheck",
  type : "post",
  data : query,
  success : function(data) {
  
   if(data == 1) {
    $(".result .msg").text("사용 불가");
    $(".result .msg").attr("style", "color:#f00");    
   } else {
    $(".result .msg").text("사용 가능");
    $(".result .msg").attr("style", "color:#00f");
   }
  }
 });  // ajax 끝
});
</script>
</body>
</html>