<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>회원가입</title>
<script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
</head>
<body>
	<form action="/member/addMember" method="post" id="addMemberForm" name="join" onsubmit="return validate();">
	<table border="1" style="margin:0 auto;">
		<tr>
			<td>아이디</td>
			<td>
				<input type="text" name="memberId" id="memberId" placeholder="4자 이상 10자 이하의 영문 또는 숫자">
				<button type="button" class="idCheck" id="hid1" name="hid1" value="0">아이디 확인</button>
			</td>
		</tr>
		<tr>
			<td>비밀번호</td><td><input type="password" name="memberPassword" id="memberPassword" placeholder="4자 이상 12자 이하 영문,숫자,특수문자"></td>
		</tr>
		<tr>
			<td>비밀번호확인</td><td><input type="password" name="memberPasswordCheck" id="memberPasswordCheck"></td>
		</tr>
		<tr>
			<td>성명</td><td><input type="text" name="memberName" id="memberName"></td>
		</tr>
		<tr>
			<td>닉네임</td>
			<td>
				<input type="text" name="memberNickname" id="memberNickname" placeholder="2자 이상 8자 이하(특수문자 제외)">
				<button type="button" class="nicknameCheck" id="hid2" name="hid2" value="0">닉네임 확인</button>
			</td>
		</tr>
		<tr>
			<td>생년월일</td><td><input type="date" name="memberBirth" id="memberBirth"></td>
		</tr>
		<tr>
			<td>연락처</td><td><input type="text" name="memberPhoneNumber1" id="memberPhoneNumber1" placeholder="-를 빼고 입력하세요"></td>
		</tr>
		<tr>
			<td>이메일</td><td><input type="text" name="memberEmail" id="memberEmail"></td>
		</tr>
		<tr>
			<td>이메일 수신동의</td><td><input type="radio" name="memberEmailAccept" value="Y" checked>동의<input type="radio" name="memberEmailAccept" value="N">거절</td>
		</tr>
		<tr>
			<td>sms수신동의</td><td><input type="radio" name="memberSmsAccept" value="Y" checked>동의<input type="radio" name="memberSmsAccept" value="N">거절</td>
		</tr>
		<tr>
			<td><button type="submit" id="submitBtn" class="submitBtn">가입</button></td>
		</tr>
	</table>
	</form>
<script>
//1.아이디 중복검사
$(".idCheck").click(function(){
	var query = {memberId : $("#memberId").val()};
	var re = /^[a-zA-Z0-9]{4,12}$/; // 아이디와 패스워드가 적합한지 검사할 정규식
	var id = document.getElementById("memberId");

	if ($("#memberId").val() == ""){
		alert("아이디를 입력하세요.");
		return;
	};
	if(!check(re,id,"아이디는 4~12자의 영문 대소문자와 숫자로만 입력")) {
		return false;
	}

	$.ajax({
		url : "/idCheck",
		type : "post",
		data : query,
		success : function(data) {
			if(data == 1) {
				alert("중복된 아이디 입니다.");	
			} else {
				alert("사용 가능한 아이디 입니다.");
				$(".idCheck").val(join.memberId.value); //현재 닉네입 입력란에 기입된 벨류와 닉네임 버튼의 벨류가 같도록 설정
			}
		}
	});
});

//2.닉네임 확인
$(".nicknameCheck").click(function(){
	var inputed = {memberNickname : $("#memberNickname").val()};
	var re3 = /^[a-zA-Z0-9가-힣]{2,8}$/;
	var nick = document.getElementById("memberNickname");
	
	if ($("#memberNickname").val() == ""){
		alert("닉네임을 입력하세요.");
		return;
	};
	if(!check(re3,nick,"닉네임은 2~8자로 작성해 주세요.(특수문자 제외)")) {
        return false;
    }
	
	$.ajax({
		url : "/nicknameCheck",
		type : "post",
		data : inputed,
		success : function(data) {
			if(data == 1) {
				alert("중복된 닉네임 입니다.");
			} else {
				alert("사용 가능한 닉네임 입니다.");
				$(".nicknameCheck").val(join.memberNickname.value); //현재 닉네입 입력란에 기입된 벨류와 닉네임 버튼의 벨류가 같도록 설정
			}
		}
	});
});

//3.중복아이디 두번확인
function validate() {
	var re = /^[a-zA-Z0-9]{4,12}$/; // 아이디와 패스워드가 적합한지 검사할 정규식
	var re2 = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
	var re3 = /^[a-zA-Z0-9가-힣]{2,8}$/;
	var re4 = /^[0-9]$/;

// 이메일이 적합한지 검사할 정규식
	var id = document.getElementById("memberId");
	var pw = document.getElementById("memberPassword");
	var email = document.getElementById("memberEmail");
	var nick = document.getElementById("memberNickname");
	// ------------ 이메일 까지 -----------
	if(!check(re,id,"아이디는 4~12자의 영문 대소문자와 숫자로만 입력")) {
		return false;
	}
	if(!check(re,pw,"패스워드는 4~12자의 영문 대소문자와 숫자로만 입력")) {
		return false;
	}
	if(join.memberPassword.value != join.memberPasswordCheck.value) {
		alert("비밀번호가 다릅니다. 다시 확인해 주세요.");
		join.memberPasswordCheck.value = "";
		join.memberPasswordCheck.focus();
		return false;
	}
	if(join.memberName.value=="") {
		alert("이름을 입력해 주세요");
		join.memberName.focus();
		return false;
	}
	if(join.memberNickname.value=="") {
		alert("닉네임을 입력해 주세요");
		join.memberNickname.focus();
		return false;
	}
	if(!check(re3,nick,"닉네임은 2~8자로 작성해 주세요.(특수문자 제외)")) {
		return false;
	}
	if(join.memberBirth.value=="") {
		alert("생년월일을 입력해 주세요");
		join.memberBirth.focus();
		return false;
	}
	if(join.memberPhoneNumber1.value=="") {
		alert("연락처를 입력해 주세요");
		join.memberPhoneNumber1.focus();
		return false;
	}
	if(!check(re3,join.memberPhoneNumber1,"숫자로만 입력해 주세요.")) {
		return false;
	}
	if(email.value=="") {
		alert("이메일을 입력해 주세요");
		email.focus();
		return false;
	}
	if(!check(re2, email, "적합하지 않은 이메일 형식입니다.")) {
		return false;
	}
	if(join.hid1.value=="0") { //아이디 중복버튼을 클릭하지 않았을 경우
		alert("아이디 중복을 확인해 주세요.");
		join.memberId.focus();
		return false;
	}
	if(join.hid1.value != join.memberId.value) { //중복 확인된 아이디와 현재 아이디 입력창에 기입되어 있는 아이디가 일치하지 않을 경우
		alert("아이디 중복을 확인해 주세요.");
		return false;
	}
	if(join.hid2.value=="0") { //닉네임 중복버튼을 클릭하지 않았을 경우
		alert("닉네임 중복을 확인해 주세요.");
		join.memberNickname.focus();
		return false;
	}
	if(join.hid2.value != join.memberNickname.value) { //중복 확인된 아이디와 현재 아이디 입력창에 기입되어 있는 닉네임이 일치하지 않을 경우
		alert("아이디 중복을 확인해 주세요.");
		return false;
	}
	alert("회원가입이 완료되었습니다.");
}

function check(re, what, message) {
	if(re.test(what.value)) {
		return true;
	}
	alert(message);
	what.value = "";
	what.focus();
//return false;
}
</script>
</body>
</html>