<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<!-- Core Stylesheet -->
		<link rel="stylesheet" href="/main/style.css">
		<title>Sign up</title>
		<script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
		<script th:inline="javascript">
			var mEA = [[${member.memberEmailAccept}]];
			
			console.log(mEA);
		</script>
		
	</head>
	<body class="body-wrapper">
		<!-- header replace -->
		<div th:replace="header :: header"></div>
		<!-- ##### Breadcumb Area Start ##### -->
		<section class="breadcumb-area bg-img d-flex align-items-center justify-content-center" style="background-image: url(/main/img/bg-img/bg-2.jpg);">
			<div class="bradcumbContent">
				<h2>Sign up</h2>
			</div>
		</section>
				<!-- ##### Breadcumb Area End ##### -->
		<section class="contact-form-area mb-100">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="section-heading">
							<div class="line-"></div>
							<h2>회원 가입</h2>
						</div>
					</div>
				</div>			
				<div class="row">
					<div class="col-md-3">
						<p>업체는 무엇인가요?</p>
						<a href="company">
							<button type="button" class="btn palatin-btn">Click Now</button><br><br>
						</a>
						<p>stayalive에 등록된 업체들은 어디있나요?</p>
						<a href="companyList">
							<button type="button" class="btn palatin-btn">Click Now</button>
						</a>
					</div>
				<div class="col-md-9">
					<form action="/member/modifyMember" method="post" id="modifyMember" name="join" onsubmit="return validate();">
						<div class="row">
						<div class="col-lg-10 input-group">
							<input type="text" class="form-control" name="memberId" id="memberId" th:value="${member.memberId}" readonly>
						</div>
						<div class="col-lg-10 input-group">
							<input type="text" class="form-control" name="memberNickname" id="memberNickname" placeholder="닉네임 (특수문자를 제외한 2~8자)" th:value="${member.memberNickname}">
							<div class="input-group-btn">
								<button type="button" class="nicknameCheck btn palatin-btn btn-3 m-1" id="hid2" name="hid2" value="0">닉네임 중복확인</button>
							</div>
						</div>
						<div class="col-lg-5">
							<input type="password" class="form-control" name="memberPassword" id="memberPassword" placeholder="비밀번호 (4~12자의 영문,숫자,특수문자)" th:value="${member.memberPassword}">
						</div>
						<div class="col-lg-5">
							<input type="password" class="form-control" name="memberPasswordCheck" id="memberPasswordCheck" placeholder="비밀번호 확인">
						</div>
						<div class="col-lg-5">
							<input type="text" class="form-control" name="memberName" id="memberName" placeholder="이름" th:value="${member.memberName}">
						</div>
						<div class="col-lg-5">
							<input type="text" class="form-control" name="memberPhoneNumber1" id="memberPhoneNumber1" placeholder="연락처" th:value="${member.memberPhoneNumber1}">
						</div>
						<div class="col-lg-10">
							<input type="text" class="form-control" name="memberBirth" id="memberBirth" placeholder="생년월일 (예시:19890829)" th:value="${member.memberBirth}">
						</div>
						<div class="col-lg-10">
							<input type="text" class="form-control" name="memberEmail" id="memberEmail" placeholder="e-mail" th:value="${member.memberEmail}">
						</div>
						<div class="col-lg-3 input-group">
							<p>e-mail 수신동의</p>
							<input type="checkbox" style="width:20px;height:20px" class="memberEmailAccept" name="memberEmailAccept" id="memberEmailAccept" value="Y">
						</div>
						<div class="col-lg-3 input-group">
							<p>sms 수신동의</p>
							<input type="checkbox" style="width:20px;height:20px" class="memberSmsAccept" name="memberSmsAccept" id="memberSmsAccept" value="Y">
						</div>
						<div class="col-lg-6">
							<button type="submit" id="submitBtn" class="submitBtn btn palatin-btn">가입</button>
						</div>
						</div>
					</form>
				</div>
				</div>
			</div>
		</section>
		<!-- footer replace -->
		<div th:replace="footer :: footer"></div>
		<!-- ##### All Javascript Script ##### -->
		<!-- jQuery-2.2.4 js -->
		<script src="/main/js/jquery/jquery-2.2.4.min.js"></script>
		<!-- Popper js -->
		<script src="/main/js/bootstrap/popper.min.js"></script>
		<!-- Bootstrap js -->
		<script src="/main/js/bootstrap/bootstrap.min.js"></script>
		<!-- All Plugins js -->
		<script src="/main/js/plugins/plugins.js"></script>
		<!-- Active js -->
		<script src="/main/js/active.js"></script>
		<script>
		//1.아이디 중복검사
		$(".idCheck").click(function(){
			var query = {memberId : $("#memberId").val()};
			var re = /^[a-zA-Z0-9]{4,12}$/; // 아이디와 패스워드가 적합한지 검사할 정규식
			var id = document.getElementById("memberId");
		
			if ($("#memberId").val() == ""){
				alert("아이디를 입력하세요.");
				return;
			};
			if(!check(re,id,"아이디는 4~12자의 영문 대소문자와 숫자로만 입력")) {
				return false;
			}
		
			$.ajax({
				url : "idCheck",
				type : "post",
				data : query,
				success : function(data) {
					if(data == 1) {
						alert("중복된 아이디 입니다.");	
					} else {
						alert("사용 가능한 아이디 입니다.");
						$(".idCheck").val(join.memberId.value); //현재 닉네입 입력란에 기입된 벨류와 닉네임 버튼의 벨류가 같도록 설정
					}
				}
			});
		});
		
		//2.닉네임 중복검사
		$(".nicknameCheck").click(function(){
			var inputed = {memberNickname : $("#memberNickname").val()};
			var re3 = /^[a-zA-Z0-9가-힣]{2,8}$/;
			var nick = document.getElementById("memberNickname");
			
			if ($("#memberNickname").val() == ""){
				alert("닉네임을 입력하세요.");
				return;
			};
			if(!check(re3,nick,"닉네임은 2~8자로 작성해 주세요.(특수문자 제외)")) {
		        return false;
		    }
			
			$.ajax({
				url : "nicknameCheck",
				type : "post",
				data : inputed,
				success : function(data) {
					if(data == 1) {
						alert("중복된 닉네임 입니다.");
					} else {
						alert("사용 가능한 닉네임 입니다.");
						$(".nicknameCheck").val(join.memberNickname.value); //현재 닉네입 입력란에 기입된 벨류와 닉네임 버튼의 벨류가 같도록 설정
					}
				}
			});
		});
		
		//3.각 항목별 유효성검사
		function validate() {
			var re = /^[a-zA-Z0-9]{4,12}$/; // 아이디와 패스워드가 적합한지 검사할 정규식
			var re2 = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
			var re3 = /^[a-zA-Z0-9가-힣]{2,8}$/;
			var re4 = /^[0-9]$/;
			var re5 = /^[0-9]{8}$/;
			
			var id = document.getElementById("memberId");
			var pw = document.getElementById("memberPassword");
			var email = document.getElementById("memberEmail");// 이메일이 적합한지 검사할 정규식
			var nick = document.getElementById("memberNickname");
			var birth = document.getElementById("memberBirth");
			// ------------ 이메일 까지 -----------
			if(!check(re,id,"아이디는 4~12자의 영문 대소문자와 숫자로만 입력")) {
				return false;
			}
			if(!check(re,pw,"패스워드는 4~12자의 영문 대소문자와 숫자로만 입력")) {
				return false;
			}
			if(join.memberPassword.value != join.memberPasswordCheck.value) {
				alert("비밀번호가 다릅니다. 다시 확인해 주세요.");
				join.memberPasswordCheck.value = "";
				join.memberPasswordCheck.focus();
				return false;
			}
			if(join.memberName.value=="") {
				alert("이름을 입력해 주세요");
				join.memberName.focus();
				return false;
			}
			if(join.memberNickname.value=="") {
				alert("닉네임을 입력해 주세요");
				join.memberNickname.focus();
				return false;
			}
			if(!check(re3,nick,"닉네임은 2~8자로 작성해 주세요.(특수문자 제외)")) {
				return false;
			}
			if(join.memberBirth.value=="") {
				alert("생년월일을 입력해 주세요");
				join.memberBirth.focus();
				return false;
			}
			if(!check(re5,birth,"생년월일을 올바르게 입력해 주세요.")) {
				return false;
			}
			if(join.memberPhoneNumber1.value=="") {
				alert("연락처를 입력해 주세요");
				join.memberPhoneNumber1.focus();
				return false;
			}
			if(!check(re3,join.memberPhoneNumber1,"숫자로만 입력해 주세요.")) {
				return false;
			}
			if(email.value=="") {
				alert("이메일을 입력해 주세요");
				email.focus();
				return false;
			}
			if(!check(re2, email, "적합하지 않은 이메일 형식입니다.")) {
				return false;
			}
			if(join.hid1.value=="0") { //아이디 중복버튼을 클릭하지 않았을 경우
				alert("아이디 중복을 확인해 주세요.");
				join.memberId.focus();
				return false;
			}
			if(join.hid1.value != join.memberId.value) { //중복 확인된 아이디와 현재 아이디 입력창에 기입되어 있는 아이디가 일치하지 않을 경우
				alert("아이디 중복을 확인해 주세요.");
				return false;
			}
			if(join.hid2.value=="0") { //닉네임 중복버튼을 클릭하지 않았을 경우
				alert("닉네임 중복을 확인해 주세요.");
				join.memberNickname.focus();
				return false;
			}
			if(join.hid2.value != join.memberNickname.value) { //중복 확인된 아이디와 현재 아이디 입력창에 기입되어 있는 닉네임이 일치하지 않을 경우
				alert("아이디 중복을 확인해 주세요.");
				return false;
			}
			alert("회원가입이 완료되었습니다.");
		}
		
		function check(re, what, message) {
			if(re.test(what.value)) {
				return true;
			}
			alert(message);
			what.value = "";
			what.focus();
		//return false;
		}
		</script>
	</body>
</html>