<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<!-- Core Stylesheet -->
	<link rel="stylesheet" href="/main/style.css">
	<link rel="stylesheet" href="/datepicker/css/datepicker.css"/>
	<title>Sign up</title>
	<script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
	<style>
		table{
			margin-left: auto; margin-right: auto;
		}
	</style>
</head>
<body>
	<!-- header -->
	<div id="header" class="join_membership" role="banner"><br><br>
	    <h2 class="text-center"><a href="/main"><img src="/main/img/core-img/logo_b.png" alt=""></a></h2>
	</div>
	<!-- 회원가입폼 -->
	<form action="/member/addMember" method="post" id="addMemberForm" name="join">
		<table>
			<tr><td><strong>기존 비밀번호</strong></td></tr>
			<tr>
				<td><input type="password" class="form-control" name="memberPassword" id="memberPassword" placeholder="5~20자의 영문,숫자혼합(특수문자 사용가능)" style="width:450px;"></td>
			</tr>
			<tr><td><span class="errorBox" style="display:none;font-size:1em;" id="pwCheck" role="alert"></span></td></tr>
			
		
			<tr><td><strong>새 비밀번호</strong></td></tr>
			<tr>
				<td><input type="password" class="form-control" name="memberPassword" id="memberPassword" placeholder="5~20자의 영문,숫자혼합(특수문자 사용가능)" style="width:450px;"></td>
			</tr>
			<tr><td><span class="errorBox" style="display:none;font-size:1em;" id="pwCheck" role="alert"></span></td></tr>
			
			<tr><td><strong>새 비밀번호 확인</strong></td></tr>
			<tr>
				<td><input type="password" class="form-control" name="memberPasswordCheck" id="memberPasswordCheck" placeholder="입력한 비밀번호와 같게 입력해 주세요." style="width:450px;"></td>
			</tr>
			<tr><td><span class="errorBox" style="display:none;font-size:1em;" id="pwCheck2" role="alert"></span></td></tr>
		</table><br>
	
		<center>
		<button type="button" id="btnJoin" class="submitBtn btn palatin-btn">가입</button>
		</center>
	</form>
	
	<script>
	var idFlag = false;
	var pwFlag = false;
	var nickFlag = false;
	
		$(document).ready(function() {
		    //비밀번호 입력
		    $("#memberPassword").blur(function() {
	            pwFlag = false;
	            checkPswd1();	    
		    }).keyup(function(event) {
	            checkShiftUp(event);
	        }).keypress(function(event) {
	            checkCapslock(event);
	        }).keydown(function(event) {
	            checkShiftDown(event);
	        });
			//비밀번호 확인
	        $("#memberPasswordCheck").blur(function() {
	            checkPswd2();        
	        }).keyup(function(event) {
	            checkShiftUp(event);
	        }).keypress(function(event) {
	            checkCapslock2(event);
	        }).keydown(function(event) {
	            checkShiftDown(event);
	        });
		});

	    //비밀번호 유효성 검사-비밀번호입력
	    function checkPswd1() {
	        if(pwFlag) return true;
	
	        var pw = $("#memberPassword").val();
	        var oMsg = $("#pwCheck");
	
	        if (pw == "") {
	            showErrorMsg(oMsg,"필수 정보입니다.");
	            return false;
	        }
	        
	        var isPw = /^.*(?=.{6,20})(?=.*[0-9])(?=.*[a-zA-Z]).*$/;
	        if (!isPw.test(pw)) {
	            showErrorMsg(oMsg,"5~20자의 영문,숫자를 혼합하여 입력해 주세요.");
	            return false;
	        }
	        if (isPw.test(pw)) {	
	        	oMsg.hide();
	            return true;
	        }	
	        pwFlag = false;
	    }
	    //비밀번호 유효성 검사-비밀번호확인
	    function checkPswd2() {
	        var pswd1 = $("#memberPassword");
	        var pswd2 = $("#memberPasswordCheck");
	        var oMsg = $("#pwCheck2");
	
	        if (pswd2.val() == "") {
	            showErrorMsg(oMsg,"필수 정보입니다.");
	            return false;
	        }
	        if (pswd1.val() != pswd2.val()) {
	            showErrorMsg(oMsg,"비밀번호가 일치하지 않습니다.");
	            pswd2.val("");
	            return false;
	        } else {
	            hideMsg(oMsg);
	            return true;
	        }
	        return true;
	    }
	    
	    //비밀번호 유효성 검사-capslock 눌러짐 여부 체크
	    var isShift = false;
	    function checkShiftUp(e) {
	        if (e.which && e.which == 16) {
	            isShift = false;
	        }
	    }
	
	    function checkShiftDown(e) {
	        if (e.which && e.which == 16) {
	            isShift = true;
	        }
	    }
	    
	    function checkCapslock(e) {
	        var myKeyCode = 0;
	        var myShiftKey = false;
	        if (window.event) {
	            myKeyCode = e.keyCode;
	            myShiftKey = e.shiftKey;
	        } else if (e.which) { 
	            myKeyCode = e.which;
	            myShiftKey = isShift;
	        }
	
	        var oMsg = $("#pwCheck");
	        if ((myKeyCode >= 65 && myKeyCode <= 90) && !myShiftKey) {
	            showErrorMsg(oMsg,"Caps Lock이 켜져 있습니다.");
	        } else if ((myKeyCode >= 97 && myKeyCode <= 122) && myShiftKey) {
	            showErrorMsg(oMsg,"Caps Lock이 켜져 있습니다.");
	        } else {
	            hideMsg(oMsg);
	        }
	    }
	
	    function checkCapslock2(e) {
	        var myKeyCode = 0;
	        var myShiftKey = false;
	        if (window.event) { // IE
	            myKeyCode = e.keyCode;
	            myShiftKey = e.shiftKey;
	        } else if (e.which) { // netscape ff opera
	            myKeyCode = e.which;
	            myShiftKey = isShift;
	        }
	
	        var oMsg = $("#pwCheck2");
	        if ((myKeyCode >= 65 && myKeyCode <= 90) && !myShiftKey) {
	            showErrorMsg(oMsg,"Caps Lock이 켜져 있습니다.");
	        } else if ((myKeyCode >= 97 && myKeyCode <= 122) && myShiftKey) {
	            showErrorMsg(oMsg,"Caps Lock이 켜져 있습니다.");
	        } else {
	            hideMsg(oMsg);
	        }
	    }

	    //에러메시지 출력
		function showErrorMsg(obj, msg) {
		    obj.attr("class", "text-danger");
		    obj.html(msg);
		    obj.show();
		}
	    //성공메시지 출력
		function showSuccessMsg(obj, msg) {
		    obj.attr("class", "text-success");
		    obj.html(msg);
		    obj.show();
		}
	    //메시지 숨기기
	    function hideMsg(obj) {
	        obj.hide();
	    }
	    //제출 입력시 전체 유효성검사
	    $("#btnJoin").click(function(event) {
	    	
	    	checkPswd1();
	    	checkPswd2();
	    	
	
			if(checkPswd1() && checkPswd2()) {
				$("#addMemberForm").submit();
			}
		});
	</script>
</body>
</html>