<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stay.alive.auction.dutch.mapper.DutchauctionBidMapper" >
	<resultMap type="Map" id="successfulbidResultMap">
		<result javaType="int" column="dutchauction_register_no" property="dutchauctionRegisterNo"/>
		<result javaType="int" column="dutchauction_successfulbid_price" property="dutchauctionSuccessfulbidPrice"/>
		<result javaType="String" column="dutchauction_successfulbid_date" property="dutchauctionSuccessfulbidDate"/>
		<result javaType="String" column="dutchauction_checkin_date" property="dutchauctionCheckinDate"/>
		<result javaType="String" column="dutchauction_chechout_date" property="dutchauctionChechoutDate"/>
		<result javaType="String" column="auction_state_category_name" property="auctionStateCategoryName"/>
	</resultMap>
	<select id="selectDutchauctionSuccessfulbidFromId" resultMap="successfulbidResultMap" parameterType="String">
		SELECT ds.dutchauction_register_no,
				ds.dutchauction_successfulbid_price,
				ds.dutchauction_successfulbid_date,
				ds.dutchauction_checkin_date,
				ds.dutchauction_chechout_date,
				ds.auction_state_category_name
		FROM dutchauction_register AS d
		INNER JOIN dutchauction_successfulbid AS ds
		ON d.dutchauction_no = ds.dutchauction_register_no
		<choose>
			<when test='groupName.equals("호스트") or groupName.equals("관리자")'>
				WHERE d.member_id = #{memberId}
			</when>
			<otherwise>
				WHERE ds.member_id = #{memberId}
			</otherwise>
		</choose>
		ORDER BY dutchauction_successfulbid_date DESC
	</select>
	<insert id="insertDutchauctionSuccessfulbid" parameterType="com.stay.alive.auction.dutch.vo.DutchAuctionBid">
		INSERT INTO dutchauction_successfulbid(dutchauction_register_no, member_id, dutchauction_successfulbid_price, dutchauction_successfulbid_date, dutchauction_checkin_date, dutchauction_chechout_date, auction_state_category_no, auction_state_category_name) 
		VALUES(#{dutchauctionRegisterNo}, #{memberId}, #{dutchauctionSuccessfulbidPrice}, now(), #{dutchauctionCheckinDate}, #{dutchauctionChechoutDate}, #{auctionStateCategoryNo}, #{auctionStateCategoryName})
	</insert>
</mapper>