<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stay.alive.auction.dutch.mapper.DutchauctionMapper" >
	<insert id="insertDutchAuction" parameterType="com.stay.alive.auction.dutch.vo.DutchAuction" useGeneratedKeys="true" keyProperty="dutchauctionNo">
		INSERT INTO dutchauction_register(
			member_id,
		  	company_no,
		  	company_name,
		  	accommodation_no, 
		 	accommodation_name, 
		  	guestroom_no, 
		  	guestroom_name, 
		  	dutchauction_register_date, 
		  	dutchauction_startprice,
		  	maximum_discount_price,
		  	dutchauction_sale_unit, 
		  	dutchauction_sale_interval, 
		  	dutchauction_close_date, 
		  	dutchauction_checkin_date, 
		  	dutchauction_checkout_date) 
		VALUES(
			#{memberId},
			#{companyNo},
			#{companyName},
			#{accommodationNo},
			#{accommodationName},
			#{guestroomNo},
			#{guestroomName},
			now(),
			#{dutchauctionStartprice},
			#{maximumDiscountPrice},
			#{dutchauctionSaleUnit},
			#{dutchauctionSaleInterval},
			#{dutchauctionCloseDate},
			#{dutchauctionCheckinDate},
			#{dutchauctionCheckoutDate})
	</insert>
	<update id="updateCurrentPrice" parameterType="com.stay.alive.auction.dutch.vo.DutchAuction">
		UPDATE dutchauction_register SET dutchauction_update_price = #{dutchauctionUpdatePrice}, dutchauction_update_date = now() WHERE dutchauction_no = #{dutchauctionNo}
	</update>
	<update id="updateStateCategoryToExpired" parameterType="com.stay.alive.auction.dutch.vo.DutchAuction">
		UPDATE dutchauction_register SET auction_state_category_no = #{auctionStateCategoryNo}, auction_state_category_name = #{auctionStateCategoryName} WHERE dutchauction_no = #{dutchauctionNo}
	</update>
	<!-- 네덜란드식 역경매 리스트 -->
	<select id="selectDutchAuctionAll" resultType="com.stay.alive.auction.dutch.vo.DutchAuction">
		SELECT * FROM dutchauction_register 
	</select>
</mapper>