<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stay.alive.member.mapper.MemberMapper">
	<insert id="insertMember" parameterType="com.stay.alive.member.vo.Member">	
		INSERT INTO member(member_no,
						member_id,
						member_password,
						member_name,
						member_nickname,
						member_birth,
						member_phone_number1,
						member_email,
						member_email_accept,
						member_sms_accept,
						member_state_no,
						member_state_name,
						member_group,
						member_group_name,
						member_rating_no,
						member_rating_name,
						member_register_date,
						member_lastupdate_date,
						member_lastlogout_date,
						member_lastlogin_date,
						member_login_count)
	    VALUES (#{memberNo},
			#{memberId},
			#{memberPassword},
			#{memberName},
			#{memberNickname},
			#{memberBirth},
			#{memberPhoneNumber1},
			#{memberEmail},
			#{memberEmailAccept},
			#{memberSmsAccept},
			1,
			123,
			1,
			123,
			1,
			123,
			now(),
			now(),
			now(),
			now(),
			1);
	</insert>
</mapper>	
	