<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>stayalive &amp; 내가 원하는 숙소를 싸게 구하자</title>
    <!-- Favicon -->
    <link rel="icon" href="/main/img/core-img/favicon.ico">
	<!-- Core Stylesheet -->
    <link rel="stylesheet" href="/main/style.css">
	<link rel="stylesheet" href="/datepicker/css/datepicker.css"/>
</head>
<body>
	<!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="cssload-container">
            <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
        </div>
    </div>
	<!-- header replace -->
    <div th:replace="header :: header"></div>
 	<!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img d-flex align-items-center justify-content-center" style="background-image: url(/main/img/bg-img/bg-2.jpg);">
        <div class="bradcumbContent">
            <h2>Dutchauction Registration</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Contact Form Area Start ##### -->
    <section class="contact-form-area mb-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <div class="line- "></div>
                    </div>
                </div>
            </div>
            <div class="row">
            	<div class="col-md-3">
            		<p>업체는 무엇인가요?</p>
					<a href="company">
						<button type="button" class="btn palatin-btn">Click Now</button><br><br>
					</a>
					<p>stayalive에 등록된 업체들은 어디있나요?</p>
					<a href="companyList">
						<button type="button" class="btn palatin-btn">Click Now</button>
					</a>
				</div>
                <div class="col-md-9">
			 		<form action="registerAction" id="registerForm" enctype="multipart/form-data" method="post">
				    		<div class="form-group">
				    			<div class="row">	    	
				    				<input type="hidden" name="accommodationName" id="accommodationName">
	   								<select name = "selectAcc" id="selectAcc">
							 			<option value="0">숙소를 선택해 주세요
							 			<option th:each="name : ${name}" th:text="${name}">
							 		</select>
	   								<select name = "guestroomAddOrSelect" id ="guestroomAddOrSelect" disabled>
							 			<option value="0">새로운 객실을 등록
							 			<option value="1">기존에 있는 객실을 선택
							 		</select>
	   						
	   								<select name = "selectGuestroom" id = "selectGuestroom" disabled>
							 			<option value='0'>객실을 선택해주세요
							 		</select>
								 </div>
   							</div>
   							<div class="form-group">
   								<div class="row">
   									<div class="col-lg-4">
   										<input class="form-control" type="text" name="guestroomName" id="guestroomName" placeholder="객실명">
   									</div>
   									<div class="col-lg-2">
   										<p class="text-right"><br>객실 대표이미지</p>
   									</div>
   									<div class="col-lg-6" id="imagefile">
   										<input class="form-control" type="file" name="guestroomImageFile" id="guestroomImageFile">
   									</div>
   								</div>
   							</div>
   							<div class="form-group">
   								<div class="row">
		   							<div class="col-lg-6">
		   								<input class="form-control" type="text" name="guestroomSize" id="guestroomSize" placeholder="객실 크기">
		   							</div>
		   							<div class="col-lg-6">
		   								<input class="form-control" type="text" name="guestroomCapacity" id="guestroomCapacity" placeholder="수용 인원">
		   							</div>
   							   	</div>
   							</div>	
   							<div class="form-group">
   								<div class="row">
		   							<div class="col-12">
		   								<textarea name="guestroomDetail" class="form-control" id="guestroomDetail" placeholder="고객에게 보이는 객실 세부 정보" style="height: 70px"></textarea>
		   							</div>
   							   	</div>
   							</div>	
   							<div class="form-group">
   								<div class="row">
		   							<div class="col-lg-4">
		   								<input class="form-control" type="text" name="dutchauctionStartprice" placeholder="경매 시작가(원)">
		   							</div>
		   							<div class="col-lg-4">
		   								<input class="form-control" type="text" name="maximumDiscountPrice" placeholder="최대 할인가(원)">
		   							</div>
		   							<div class="col-lg-4">
		   								<input class="form-control" type="text" name="dutchauctionSaleUnit" placeholder="할인 단위(원)">
		   							</div>
   							   	</div>
   							</div>
   							<div class="form-group">
   								<div class="row">
		   							<div class="col-lg-3">
		   								<p class="text-right align-middle" ><br>할인 시간간격</p>
					 				</div>
		   							<div class="col-lg-3">
		   								<select name = "dutchauctionSaleInterval">
		   									<option value="2">2시간마다
					    					<option value="3">3시간마다
					    					<option value="4">4시간마다
											<option value="6">6시간마다
								 		</select>
					 				</div>
						    		<div class="col-lg-3">
		   								<p class="text-right"><br>경매 종료시간</p>
					 				</div>
					 				<div class="col-lg-3">
		   								<input class="datepicker-here" data-timepicker="true" name="dutchauctionCloseDate" placeholder="클릭해서 날짜를 선택해 주세요" autocomplete=off readonly>
					 				</div>
   							   	</div>
   							</div>	
   							<div class="form-group">
   								<div class="row">
					 				<div class="col-lg-3">
		   								<p class="text-right"><br>입실 일자</p>
					 				</div>
					 				<div class="col-lg-3">
					 					<input class="datepicker-here" data-timepicker="true" name="dutchauctionCheckinDate" placeholder="클릭해서 날짜를 선택해 주세요" autocomplete=off readonly>
					 				</div>
									
					 				<div class="col-lg-3">
		   								<p class="text-right"><br>퇴실 일자</p>
					 				</div>
					 				<div class="col-lg-3">
					 					<input data-timepicker="true" name="dutchauctionCheckoutDate" placeholder="클릭해서 날짜를 선택해 주세요" autocomplete=off readonly>
					 				</div>
   							   	</div>
   							</div>
   							<div class="form-group">
   								<div class="row">
					 				<div class="col-12 text-right">
		                   		 		<button type="button" id="registerBtn" class="btn palatin-btn mt-40">더치옥션 등록하기</button>
		                  			</div>			
   							   	</div>
   							</div>
			    		</form>
   					</div>
   				</div>	
            </div>
    </section>
	
	<!-- footer replace -->
    <div th:replace="footer :: footer"></div>

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="/main/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/main/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/main/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/main/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="/main/js/active.js"></script>
    <!-- datepicker js  -->
    <script src="/datepicker/js/datepicker.js"></script>
    <script src="/datepicker/js/i18n/datepicker.en.js"></script>
	<script>
		//$("#dutchauctionRegister").addClass('active');
		$("#selectAcc").change(function(e) {
			if($(this).val() != 0 ) {
				var selectedAcc = $("#selectAcc option:selected").val();
				//hidden 태그에 숙소 이름 세팅
				$("#accommodationName").val(selectedAcc);
				$("#guestroomAddOrSelect").prop("disabled", false);
				if($("#guestroomAddOrSelect").val() == 1) {
					$("#selectGuestroom").prop("disabled", false);
					findGuestroomName();
				}
			}
			else {
				$("#guestroomAddOrSelect").val("0"); // 기존에 있는 객실을 선택 select
				$("#selectGuestroom").val("0");//객실을 선택해주세요 select
				$("#guestroomAddOrSelect").prop("disabled", true);
				$("#selectGuestroom").prop("disabled", true);
				$("#guestroomImageFile").prop("disabled",false);
				$("#guestroomName").prop("readonly",false);
				$("#guestroomSize").prop("readonly",false);
				$("#guestroomDetail").prop("readonly",false);
				$("#guestroomCapacity").prop("readonly",false);
				$("#guestroomName").val("");
				$("#guestroomSize").val("");
				$("#guestroomDetail").val("");
				$("#guestroomCapacity").val("");
			}
			$("select").niceSelect('update');
		});
		$("#guestroomAddOrSelect").change(function(e) {
			if($(this).val() == 1) {
				$("#selectGuestroom").prop("disabled", false);
				findGuestroomName();
			}
			else {//새로운 객실을 등록 선택시
				$("#selectGuestroom").prop("disabled", true);
				$("#guestroomImageFile").prop("disabled",false);
				$("#guestroomName").prop("readonly",false);
				$("#guestroomSize").prop("readonly",false);
				$("#guestroomDetail").prop("readonly",false);
				$("#guestroomCapacity").prop("readonly",false);
				$("#guestroomName").val("");
				$("#guestroomSize").val("");
				$("#guestroomDetail").val("");
				$("#guestroomCapacity").val("");
			}
			$("select").niceSelect('update');
		});
		
		$("#selectGuestroom").change(function() {
			if($("#selectGuestroom").val() != 0) {
				$("#guestroomImageFile").prop("disabled",true);
				guestroomInfo();
				$("select").niceSelect('update');
			}
		});
		//등록버튼 클릭
		$("#registerBtn").click(function() {
			if($("#selectAcc").val() != 0) {
				if($("#guestroomAddOrSelect").val() == 1 && $("#selectGuestroom").val() != 0) {
					$("#registerForm").submit();
				}
				else if($("#guestroomAddOrSelect").val() == 0){
					$("#registerForm").submit();
				}
				
			}
			
		});

	function findGuestroomName() {
		$.ajax({
	  		url : "findGuestroomName",
	  		data : {"accommodationName" : $("#selectAcc").val()},
	  		type: 'GET',
			contentType:"application/x-www-form-urlencoded",
			success: function(data) {
				$("#selectGuestroom").html("<option value='0'>객실을 선택해주세요");
				$("select").niceSelect('update');
				$.each(data, function(index,item) {
					$("#selectGuestroom").append("<option value='"+ (index + 1) +"'>"+ item);
					$("select").niceSelect('update');
				});
			}
		});
	}
	//게스트룸 정보 input 태그에 입력
	function guestroomInfo() {
		$.ajax({
	  		url : "guestroomInfo",
	  		data : {"accommodationName" : $("#selectAcc").val(), "guestroomName":$("#selectGuestroom option:selected").text()},
	  		type: 'GET',
			contentType:"application/x-www-form-urlencoded",
			success: function(data) {
				//console.log(data)
				$("#guestroomName").val(data.guestroomName);
				$("#guestroomSize").val(data.guestroomSize);
				$("#guestroomDetail").val(data.guestroomDetail);
				$("#guestroomCapacity").val(data.guestroomCapacity);
				$("#guestroomName").prop("readonly",true);
				$("#guestroomSize").prop("readonly",true);
				$("#guestroomDetail").prop("readonly",true);
				$("#guestroomCapacity").prop("readonly",true);
			}
		});
	}
	//Datepicker
	$('.datepicker-here').datepicker({
	    language: 'en',
	    dateFormat:'yyyy-mm-dd',
	    timeFormat:'hh:ii',
	    minDate: new Date(),
		autoClose:true
	});
	//입실일자는 선택시에만 퇴실일 선택 가능하며 퇴실일자는 입실일자 이후로 선택 가능	
	var select = false;
	var checkInDate = $('input[name="dutchauctionCheckinDate"]');
	var checkOutDate = $('input[name="dutchauctionCheckoutDate"]');
	checkOutDate.click(function() {
		if(checkInDate.val() == "") {
			alert("입실 일자를 선택해 주세요");
		}
		else {
			if(!select) {
				select = true;
				checkOutDate.datepicker({
				    language: 'en',
				    dateFormat:'yyyy-mm-dd',
				    timeFormat:'hh:ii',
				    minDate: new Date(checkInDate.val()),
					autoClose:true,
					Defaults : "focus"
				});
				checkOutDate.datepicker().data('datepicker').show();
			}
		}
	});

	</script>
</body>
</html>