<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Core Stylesheet -->
	<link rel="stylesheet" href="/main/style.css">
	<!-- jQuery-2.2.4 js -->
	<script src="/main/js/jquery/jquery-2.2.4.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script type="text/javascript">
		$(document).ready(()=>{

		});
	</script>
	<title>reverseauctionList</title>
</head>
<body>
	<!-- Preloader -->
	<div class="preloader d-flex align-items-center justify-content-center">
		<div class="cssload-container">
			<div class="cssload-loading">
				<i></i><i></i><i></i><i></i>
			</div>
		</div>
	</div>

	<!-- header replace -->
	<div th:replace="header :: header"></div>

	<!-- ##### Breadcumb Area Start ##### -->
	<section class="breadcumb-area bg-img d-flex align-items-center justify-content-center" style="background-image: url(/main/img/bg-img/background1.jpg);">
		<div class="bradcumbContent">
			<h2>Dutch Book</h2>
		</div>
	</section>
	<!-- ##### Breadcumb Area End ##### -->

	<!-- ##### category Area Start ##### -->
	<section class="contact-form-area mb-100">
		<div class="container">
			<div class="row">
				<div class="col-12">

				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-12 col-lg-6">
					<div class="section-heading text-center">
						<div class="line-"></div>
						<h2>Choose dutchAuctions</h2>
						<p>시간에 지남에 따라 가격이 내려가는 방식.</p>
						
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="search-result bg-gray">
						<h2 ></h2>
						<p ></p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<form action="/auction/reverse/list" method="get">
						<select class="form-control" name="sk">
							<option value="0">==== 선택 ====</option>
							<option value="reverseauction_title">제목</option>
							<option value="reverseauction_content">내용</option>
							<option value="3">업체회원닉네임</option>
						</select>
						<input type="text" class="form-control" name="sv" id="search" placeholder="검색어를 입력하세요">
						<input type="text" class="form-control" id="datePicker1" name="date1" placeholder="Check-in" autocomplete=off>
						<input type="text" class="form-control" id="datePicker2" name="date2" placeholder="Check-out" autocomplete=off>
						<button type="submit" class="btn palatin-btn form-control" style="margin-bottom:30px">Search Now</button>
					</form>
				</div>
				<div class="col-md-9">

					<div class="row">
						<div class="col-md-10">
							<select>
								<option>Most Recent</option>
								<option value="1">Most Popular</option>
								<option value="2">Lowest Price</option>
								<option value="4">Highest Price</option>
							</select>
						</div>
						<div class="col-md-2">
							<div class="view">
								<strong>Views</strong>
								<ul class="list-inline">
									<li class="list-inline-item"><a href="javascript:void(0);"><i class="fa fa-th-large"></i></a></li>
									<li class="list-inline-item"><a href="javascript:void(0);"><i class="fa fa-reorder"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- ##### Rooms Area Start ##### -->
					<section class="rooms-area section-padding-0-100">
						<div class="container">
							<div class="row" id="roomArea">

							</div>

							<div class="col-12">
								<!-- Pagination -->
								<div class="pagination-area wow fadeInUp" data-wow-delay="200ms">
									<nav>
									</nav>
								</div>
							</div>
						</div>
					</section>
					<!-- ##### Rooms Area End ##### -->
				</div>
			</div>
		</div>
	</section>

	<!-- ##### category Area End ##### -->

	<!-- footer replace -->
	<div th:replace="footer :: footer"></div>
	
	<!-- Popper js -->
	<script src="/main/js/bootstrap/popper.min.js"></script>
	<!-- Bootstrap js -->
	<script src="/main/js/bootstrap/bootstrap.min.js"></script>
	<!-- All Plugins js -->
	<script src="/main/js/plugins/plugins.js"></script>
	<!-- Active js -->
	<script src="/main/js/active.js"></script>
	<script th:inline="javascript">
		$("#dutchauctionList").addClass('active');
	//<![CDATA[
			$("#roomArea").empty();
			var list = [[${list}]];
			console.log(list);
			$.each(list, function(index,item) {
				var html = "<div class='col-12 col-md-6'>";
				html += "<a href='/main'  style='padding:0 15px 0 15px'>";
				html += "<div class='single-rooms-area wow fadeInUp' data-wow-delay='20ms'>"
				html += "<p class='price-from' >" + item.dutchauctionUpdatePrice +"</p>"
				html += "<div class='bg-thumbnail bg-img' style='background-image: url(/main/img/bg-img/1.jpg;'></div>"
				html += "<div class='rooms-text'>"
				html += "<div class='line'></div>"
				html += "<h4>Deluxe Room</h4>"
				html += "<p style='word-break: break-all;'>Room Content</p>"
				html += "<div class='line'></div></div></div></a></div>"
				$("#roomArea").append(html);
			});


	//]]>
		
		
	</script>
</body>
</html>