<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Core Stylesheet -->
	<link rel="stylesheet" href="/main/style.css">
	<link rel="stylesheet" href="/datepicker/css/datepicker.css"/>
	<title>역경매 리스트</title>
</head>
<body>
	<!-- Preloader -->
	<div class="preloader d-flex align-items-center justify-content-center">
		<div class="cssload-container">
			<div class="cssload-loading">
				<i></i><i></i><i></i><i></i>
			</div>
		</div>
	</div>
	<!-- header replace -->
	<div th:replace="header :: header"></div>

	<!-- ##### Breadcumb Area Start ##### -->
	<section class="breadcumb-area bg-img d-flex align-items-center justify-content-center" style="background-image: url(/main/img/bg-img/background1.jpg);">
		<div class="bradcumbContent">
			<h2>Dutch Book</h2>
		</div>
	</section>
	<!-- ##### Breadcumb Area End ##### -->

	<!-- ##### category Area Start ##### -->
	<section class="contact-form-area mb-100">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section-heading">
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-12 col-lg-6">
					<div class="section-heading text-center">
						<div class="line-"></div>
						<h2>Choose DutchAuction</h2>
						<p>호스트가 등록하면 게스트가 낙찰을 합니다.</p>
						<a href="/auction/dutch/register" class="btn palatin-btn mt-50">더치옥션 등록</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="search-result bg-gray">
						<h2></h2>
						<p ></p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3">
					<form action="list" method="get">
						<select class="form-control" name="sk" id="searchSelect">
							<option value="0">==== 선택 ====</option>
							<option value="accommodation_address">주소</option>
							<option value="accommodation_name">숙소이름</option>
							<option value="member_id">업체회원ID</option>
						</select>
						<input type="text" class="form-control" name="sv" id="search" placeholder="검색어를 입력하세요">
						<input type="text" class="form-control" data-timepicker="true" id="checkInDate" name="checkInDate" placeholder="Check-in" autocomplete=off readonly>
						<input type="text" class="form-control" data-timepicker="true" id="checkOutDate" name="checkOutDate" placeholder="Check-out" autocomplete=off readonly>
						<button type="submit" class="btn palatin-btn form-control" style="margin-bottom:30px">Search Now</button>
					</form>
					<p>더치옥션은 무엇인가요?</p>
					<a href="/auction">
						<button type="button" class="btn palatin-btn btn-2">Click Now</button><br><br>
					</a>
					<p>리버스옥션(역경매)은 무엇인가요?</p>
					<a href="/auction">
						<button type="button" class="btn palatin-btn btn-2">Click Now</button><br><br>
					</a>
					<p>리버스옥션으로 숙소를 예약하고싶어요.</p>
					<a href="/auction/reverse/list">
						<button type="button" class="btn palatin-btn btn-2">Click Now</button><br><br>
					</a>
					<p>더치옥션을 등록하고싶어요.</p>
					<a href="/auction/dutch/register">
						<button type="button" class="btn palatin-btn btn-2">Click Now</button><br><br>
					</a>
					<p>리버스옥션을 등록하고싶어요.</p>
					<a href="/auction/reverse/add">
						<button type="button" class="btn palatin-btn btn-2">Click Now</button><br><br>
					</a>
					<p>내 옥션 목록을 보고싶어요.</p>
					<a href="/myAuctionList">
						<button type="button" class="btn palatin-btn btn-2">Click Now</button>
					</a>
				</div>
				<div class="col-lg-9">
					<div class="row">
						<div class="col-md-11">
							<select>
								<option>Most Recent</option>
								<option value="1">Most Popular</option>
								<option value="2">Lowest Price</option>
								<option value="4">Highest Price</option>
							</select>
						</div>
						<div class="col-md-1">
							<div class="view">
								<strong>Views</strong>
								<ul class="list-inline">
									<li class="list-inline-item"><a href="javascript:void(0);"><i class="fa fa-th-large"></i></a></li>
									<li class="list-inline-item"><a href="javascript:void(0);"><i class="fa fa-reorder"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- ##### Auction Area Start ##### -->
					<section class="rooms-area section-padding-0-0">
						<div class="container">
							<div class="row">
								<!-- Single Rooms Area -->
								<div class="col-12 col-md-6" th:each="item : ${list}" >
									<a th:href="@{/auction/dutch/detail(dutchauctionNo=${item.dutchauctionNo})}"   style="padding:0 15px 0 15px" >
										<div class="single-rooms-area wow fadeInUp" data-wow-delay="100ms" style="height: 400px">
											<!-- Limit -->
											<div th:with="result=${100-((item.dutchauctionUpdatePrice*1.0) / item.dutchauctionStartprice *100)}">
                        						<p class="price-from" th:utext = "|${item.dutchauctionUpdatePrice}원 <br><span style='color:red;font-size:20px'>${#numbers.formatInteger(result, 0,'COMMA')}%</span> 할인|" style="font-size: 16px;"></p>
                        					</div>
											<!-- Thumbnail -->
											<div class="bg-thumbnail bg-img" th:style="'background-image: url(/image/guestroom/'+${item.imageFileStoredName}+'.'+${item.imageFileExt}+');'" ></div>
											<!-- Rooms Text -->
											<div class="rooms-text" >
												<div class="line"></div>
												<h4 th:text="${item.accommodationName}">Deluxe Room</h4>
												<p style="word-break: break-all;" th:text="${item.guestroomName}">Room Content</p>
												<div class="line"></div>
												<!-- 주소 -->
												<p th:text="'위치 : ' + ${item.accommodationAddress}">Address</p>
												<!-- 시작 -->
												<p th:text="'시작 일시 : ' + ${#strings.substring(item.dutchauctionRegisterDate,0,16)}">Limit</p>
												<!-- 할인 -->
												<p th:text="'할인 : 매 ' + ${item.dutchauctionSaleInterval}+'시간마다'">할인주기</p>
												<!-- 할인 -->
												<p th:text="'할인단위 : ' + ${item.dutchauctionSaleUnit}+'원'">할인단위</p>
												<!-- 판매가 -->
												<p th:text="'판매가 : ' + ${item.dutchauctionStartprice}+'원'">할인단위</p>
												<!-- Date -->
												<p th:text="'입실 시간 : ' + ${#strings.substring(item.dutchauctionCheckinDate,0,16)}">입실 시간</p>
												<p th:text="'퇴실 시간 : ' + ${#strings.substring(item.dutchauctionCheckoutDate,0,16)}">퇴실 시간</p>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
						<button type="button" class="btn palatin-btn form-control" style="margin-bottom:30px" id="closeBtn">종료된 경매 보기</button>
					</section>
					<!-- ##### Auction Area End ##### -->
					<!-- ##### ClosedAuction Area Start ##### -->
					<section class="rooms-area section-padding-0-0" id="close">
						<div class="container" >
							<div class="row">
								<!-- Single Rooms Area -->
								<div class="col-12 col-md-6" th:each="item : ${closedList}" >
									<a style="padding:0 15px 0 15px" >
										<div class="single-rooms-area" style="height: 400px">
											<!-- Limit -->
                        						<p class="price-from" th:utext = "|낙찰가<br>****원|" style="font-size: 16px;"></p>
											<!-- Thumbnail -->
											<div class="bg-thumbnail bg-img" th:style="'background-image: url(/image/guestroom/'+${item.imageFileStoredName}+'.'+${item.imageFileExt}+');'" ></div>
											<!-- Rooms Text -->
											<div class="rooms-text" >
												<div class="line"></div>
												<h4 th:text="${item.accommodationName}">Deluxe Room</h4>
												<p style="word-break: break-all;" th:text="${item.guestroomName}">Room Content</p>
												<div class="line"></div>
												<!-- 시작 -->
												<p th:text="'시작 일시 : ' + ${#strings.substring(item.dutchauctionRegisterDate,0,16)}">Limit</p>
												<!-- 할인 -->
												<p th:text="'할인 : 매 ' + ${item.dutchauctionSaleInterval}+'시간마다'">할인주기</p>
												<!-- 판매가 -->
												<p th:text="'판매가 : ' + ${item.dutchauctionStartprice}+'원'">할인단위</p>
												<!-- Date -->
												<p th:text="'입실 시간 : ' + ${#strings.substring(item.dutchauctionCheckinDate,0,16)}">입실 시간</p>
												<p th:text="'퇴실 시간 : ' + ${#strings.substring(item.dutchauctionCheckoutDate,0,16)}">퇴실 시간</p>
												<p th:text="'종료 상태 :' + ${item.auctionStateCategoryName}">퇴실 시간</p>
												<p th:if="${item.get('memberId') != null}" th:text="'낙찰자 : ' + ${item.memberId}">퇴실 시간</p>
												<p th:if="${item.get('dutchauctionSuccessfulbidDate') != null}" th:text="'낙찰일 : ' + ${#strings.substring(item.dutchauctionSuccessfulbidDate,0,16)}">낙찰일</p>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
					</section>
					<!-- ##### ClosedAuction Area Start ##### -->
					<div class="col-12" >
						<!-- Pagination -->
						<div class="pagination-area wow fadeInUp"
							data-wow-delay="200ms">
							<nav>
								<ul class="pagination">
									<li class="page-item" th:if="${prevPage}">
										<a class="page-link" th:href="@{/auction/dutch/list(currentPage=${(PM.currentBlock - 1) * PM.pagePerBlock},sk=${sk},sv=${sv},checkInDate=${checkInDate},checkOutDate=${checkOutDate})}">이전</a>
									</li>
									<li class="page-item" th:each="i : ${#numbers.sequence(PM.startPage, PM.endPage)}" th:classappend="${PM.currentPage} == ${i} ? active : null">
										<a class="page-link" th:text="${i}" th:href="@{/auction/dutch/list(currentPage=${i},sk=${sk},sv=${sv},checkInDate=${checkInDate},checkOutDate=${checkOutDate})}">01.</a>
									</li>
									<li class="page-item" th:if="${nextPage}">
										<a class="page-link" th:href="@{/auction/dutch/list(currentPage=${PM.currentBlock * PM.pagePerBlock + 1},sk=${sk},sv=${sv},checkInDate=${checkInDate},checkOutDate=${checkOutDate})}">다음</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ##### category Area End ##### -->

	<!-- footer replace -->
	<div th:replace="footer :: footer"></div>
	<!-- jQuery-2.2.4 js -->
	<script src="/main/js/jquery/jquery-2.2.4.min.js"></script>
	<!-- Popper js -->
	<script src="/main/js/bootstrap/popper.min.js"></script>
	<!-- Bootstrap js -->
	<script src="/main/js/bootstrap/bootstrap.min.js"></script>
	<!-- All Plugins js -->
	<script src="/main/js/plugins/plugins.js"></script>
	<!-- Active js -->
	<script src="/main/js/active.js"></script>
    <!-- datepicker js  -->
    <script src="/datepicker/js/datepicker.js"></script>
    <script src="/datepicker/js/i18n/datepicker.en.js"></script>
	<script>
		$("#close").hide();
		var closeSwitch = false;
		$("#closeBtn").click(function() {
			if(!closeSwitch) {
				closeSwitch = true;
				$("#close").show();
			}
			else {
				closeSwitch = false;
				$("#close").hide();
			}
		});
		//Datepicker
		$('#checkInDate').datepicker({
		    language: 'en',
		    dateFormat:'yyyy-mm-dd',
		    timeFormat:'hh:ii',
			autoClose:true
		});
		var select = false;
		var checkInDate = $('#checkInDate');
		var checkOutDate = $('#checkOutDate');
		checkOutDate.click(function() {
			if(checkInDate.val() == "") {
				alert("입실 일자를 선택해 주세요");
			}
			else {
				if(!select) {
					select = true;
					checkOutDate.datepicker({
					    language: 'en',
					    dateFormat:'yyyy-mm-dd',
					    timeFormat:'hh:ii',
					    minDate: new Date(checkInDate.val()),
						autoClose:true,
						Defaults : "focus"
					});
					checkOutDate.datepicker().data('datepicker').show();
				}
			}
		});	
		if($("#searchSelect").val() == "0") {
			$("#search").attr("disabled",true);
		}
		$("#searchSelect").change(function() {
			if($("#searchSelect").val() == "0") {
				$("#search").attr("disabled",true);
				checkInDate.attr("disabled",false);
				checkOutDate.attr("disabled",false);
			}
			else {
				$("#search").attr("disabled",false);
				checkInDate.val("");
				checkOutDate.val("");
				checkInDate.attr("disabled",true);
				checkOutDate.attr("disabled",true);
			}
		})
		
	</script>
</body>
</html>