<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>stayalive &amp; 내가 원하는 숙소를 싸게 구하자</title>

    <!-- Favicon -->
    <link rel="icon" href="/main/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="/main/style.css">
</head>
<body>
	<div th:fragment="footer">
	    <!-- ##### Footer Area Start ##### -->
	    <footer class="footer-area">
	        <div class="container">
	            <div class="row">
	
	                <!-- Footer Widget Area -->
	                <div class="col-12 col-lg-5">
	                    <div class="footer-widget-area mt-50">
	                        <a href="#" class="d-block mb-5"><img src="/main/img/core-img/logo.png" alt=""></a>
	                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus. </p>
	                    </div>
	                </div>
	
	                <!-- Footer Widget Area -->
	                <div class="col-12 col-md-6 col-lg-4">
	                    <div class="footer-widget-area mt-50">
	                        <h6 class="widget-title mb-5">Find us on the map</h6>
	                        <img src="/main/img/bg-img/footer-map.png" alt="">
	                    </div>
	                </div>
	
	                <!-- Footer Widget Area -->
	                <div class="col-12 col-md-6 col-lg-3">
	                    <div class="footer-widget-area mt-50">
	                        <h6 class="widget-title mb-5">Subscribe to our newsletter</h6>
	                        <form action="#" method="post" class="subscribe-form">
	                            <input type="email" name="subscribe-email" id="subscribeemail" placeholder="Your E-mail">
	                            <button type="submit">Subscribe</button>
	                        </form>
	                    </div>
	                </div>
	
	                <!-- Copywrite Text -->
	                <div class="col-12">
	                    <div class="copywrite-text mt-30">
	                        <p><a href="#"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
	Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
	<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </footer>
	    <!-- ##### Footer Area End ##### -->
    </div>
</body>
</html>