<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>stayalive &amp; 내가 원하는 숙소를 싸게 구하자</title>

    <!-- Favicon -->
    <link rel="icon" href="main/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="main/style.css">
</head>
<body>
	<div th:fragment="header">
		<!-- ##### Header Area Start ##### -->
	    <header class="header-area">
	        <!-- Navbar Area -->
	        <div class="palatin-main-menu">
	            <div class="classy-nav-container breakpoint-off">
	                <div class="container">
	                    <!-- Menu -->
	                    <nav class="classy-navbar justify-content-between" id="palatinNav">
	
	                        <!-- Nav brand -->
	                        <a href="main" class="nav-brand"><img src="main/img/core-img/logo.png" alt=""></a>
	
	                        <!-- Navbar Toggler -->
	                        <div class="classy-navbar-toggler">
	                            <span class="navbarToggler"><span></span><span></span><span></span></span>
	                        </div>
	
	                        <!-- Menu -->
	                        <div class="classy-menu">
	
	                            <!-- close btn -->
	                            <div class="classycloseIcon">
	                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
	                            </div>
	
	                            <!-- Nav Start -->
	                            <div class="classynav">
	                                <ul>
	                                    <li id="main"><a href="main">홈</a></li>
	                                    <li><a href="company">업체</a>
	                                    	<ul class="dropdown">
	                                            <li id="company"><a href="company">업체</a></li>
	                                            <li id="companyRegister"><a href="companyRegister">업체 등록</a></li>
	                                            <li id="companyList"><a href="companyList">업체 리스트</a></li>
	                                        </ul>
                                        </li>
	                                    <li><a href="reverseauctionList">역경매</a>
	                                    	<ul class="dropdown">
	                                    		<li><a href="reverseauctionList">역경매목록</a></li>
	                                    		<li><a href="addReverseauction">역경매등록</a></li>
	                                    	</ul>
	                                    </li>
	                                    <li><a href="#">Pages</a>
	                                        <ul class="dropdown">
	                                            <li><a href="index.html">Home</a></li>
	                                            <li><a href="about-us.html">About Us</a></li>
	                                            <li><a href="services.html">Services</a></li>
	                                            <li><a href="rooms.html">Rooms</a></li>
	                                            <li><a href="blog.html">News</a></li>
	                                            <li><a href="contact.html">Contact</a></li>
	                                            <li><a href="elements.html">Elements</a></li>
	                                        </ul>
	                                    </li>
	                                    <li><a href="#">Mega Menu</a>
	                                        <div class="megamenu">
	                                            <ul class="single-mega cn-col-4">
	                                                <li><a href="index.html">Home</a></li>
	                                                <li><a href="about-us.html">About Us</a></li>
	                                                <li><a href="services.html">Services</a></li>
	                                                <li><a href="rooms.html">Rooms</a></li>
	                                                <li><a href="blog.html">News</a></li>
	                                                <li><a href="contact.html">Contact</a></li>
	                                                <li><a href="elements.html">Elements</a></li>
	                                            </ul>
	                                            <ul class="single-mega cn-col-4">
	                                                <li><a href="index.html">Home</a></li>
	                                                <li><a href="about-us.html">About Us</a></li>
	                                                <li><a href="services.html">Services</a></li>
	                                                <li><a href="rooms.html">Rooms</a></li>
	                                                <li><a href="blog.html">News</a></li>
	                                                <li><a href="contact.html">Contact</a></li>
	                                                <li><a href="elements.html">Elements</a></li>
	                                            </ul>
	                                            <ul class="single-mega cn-col-4">
	                                                <li><a href="index.html">Home</a></li>
	                                                <li><a href="about-us.html">About Us</a></li>
	                                                <li><a href="services.html">Services</a></li>
	                                                <li><a href="rooms.html">Rooms</a></li>
	                                                <li><a href="blog.html">News</a></li>
	                                                <li><a href="contact.html">Contact</a></li>
	                                                <li><a href="elements.html">Elements</a></li>
	                                            </ul>
	                                            <ul class="single-mega cn-col-4">
	                                                <li><a href="index.html">Home</a></li>
	                                                <li><a href="about-us.html">About Us</a></li>
	                                                <li><a href="services.html">Services</a></li>
	                                                <li><a href="rooms.html">Rooms</a></li>
	                                                <li><a href="blog.html">News</a></li>
	                                                <li><a href="contact.html">Contact</a></li>
	                                                <li><a href="elements.html">Elements</a></li>
	                                            </ul>
	                                        </div>
	                                    </li>
	                                    <li><a href="services.html">Services</a></li>
	                                    <li><a href="login">로그인</a></li>
	                                </ul>
	
	                                <!-- Button -->
	                                <div class="menu-btn">
	                                    <a href="#" class="btn palatin-btn">Make a Reservation</a>
	                                </div>
	
	                            </div>
	                            <!-- Nav End -->
	                        </div>
	                    </nav>
	                </div>
	            </div>
	        </div>
	    </header>
	    <!-- ##### Header Area End ##### -->
	</div>
</body>
</html>