<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>stayalive &amp; 내가 원하는 숙소를 싸게 구하자</title>

    <!-- Favicon -->
    <link rel="icon" href="/main/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="/main/style.css">
</head>
	<!-- ##### All Javascript Script ##### -->
	<!-- jQuery-2.2.4 js -->
	<script src="/main/js/jquery/jquery-2.2.4.min.js"></script>
			                       
<body>
	<div th:fragment="header">
		<!-- ##### Header Area Start ##### -->
	    <header class="header-area">
	        <!-- Navbar Area -->
	        <div class="palatin-main-menu">
	            <div class="classy-nav-container breakpoint-off">
	                <div class="container">
	                    <!-- Menu -->
	                    <nav class="classy-navbar justify-content-between" id="palatinNav">
	
	                        <!-- Nav brand -->
	                        <a href="/main" class="nav-brand"><img src="/main/img/core-img/logo.png" alt=""></a>
	
	                        <!-- Navbar Toggler -->
	                        <div class="classy-navbar-toggler">
	                            <span class="navbarToggler"><span></span><span></span><span></span></span>
	                        </div>
	
	                        <!-- Menu -->
	                        <div class="classy-menu">
	
	                            <!-- close btn -->
	                            <div class="classycloseIcon">
	                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
	                            </div>
	
	                            <!-- Nav Start -->
	                            <div class="classynav">
	                                <ul>
	                                    <li id="main"><a href="/main">홈</a></li>
	                                    <li><a href="/auction/reverse/list">역경매</a>
	                                    	<ul class="dropdown">
	                                    		<li id="dutchauctionRegister"><a href="/auction/dutch/register">더치옥션 등록</a></li>
	                                    		<li><a href="/auction/reverse/list">리버스옥션 목록</a></li>
	                                    		<li><a href="/auction/reverse/add">리버스옥션 등록</a></li>
	                                    	</ul>
	                                    </li>
	                                    <li><a href="/board/free">게시판</a>
	                                    	<ul class="dropdown">
	                                            <li id="freeBoard"><a href="/board/free">자유게시판</a></li>
	                                        </ul>
                                        </li>
	                                    <li><a href="/member/main">회원</a>
	                                        <ul class="dropdown">
	                                            <li><a href="/member/modifyMember">회원정보 수정</a></li>
	                                        </ul>
	                                    </li>
	                                    <li><a href="/accommodation/main">숙소</a>
	                                    	<ul class="dropdown">
	                                            <li id="accommodation"><a href="/accommodation/main">숙소</a></li>
	                                            <li id="accommodationRegister"><a href="/accommodation/register">숙소 등록</a></li>
	                                            <li id="accommodationList"><a href="/accommodation/list">숙소 리스트</a></li>
	                                        </ul>
                                        </li>
                                        <li><a href="/company/main">업체</a>
	                                    	<ul class="dropdown">
	                                            <li id="company"><a href="/company/main">업체</a></li>
	                                            <li id="companyRegister"><a href="/company/register">업체 등록</a></li>
	                                            <li id="companyList"><a href="/company/list">업체 리스트</a></li>
	                                        </ul>
                                        </li>                          
	                                    <li><a href="/ad">광고</a>	                                    	
                                            <ul class="dropdown">
                                                <li><a href="/ad/adRegister">광고 등록</a></li>	
                                            </ul>	                                        
	                                    </li>
	                                </ul>
	
	                                <!-- Button -->
									<div th:if="${session.memberId == null}">
		                                <div class="menu-btn">
		                                    <a href="/login" class="btn btn-outline-primary">로그인</a>
		                                    <a href="/member/addMember" class="btn btn-outline-success">회원가입</a>
		                                </div>
								 	</div>
								 	<script>
		                           		function dropdown() {
											$("#dropdownBtn").trigger("click");
										};
									</script>
	                            	<div th:if="${session.memberId != null}">
		                            	<div class="menu-btn">
			                            	<div class="btn-group">
			                            		<a href="javascript:dropdown();" class="btn btn-outline-info" th:text="${session.memberNickname}"></a>
			                            		<div class="btn-group">
				                            		<a href="#" id="dropdownBtn" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown">
											   		 	...
										   		  	</a>
			                            		 	<div class="dropdown-menu">
				                            		 	<a class="dropdown-item text-dark" href="/member/modifyMember">정보수정</a>
				                            			<a class="dropdown-item text-dark" href="/login/memberLogout">로그아웃</a>
				                            		</div>
			                            		</div>
			                            	</div>
		                            	</div>
		                            </div>
									
	                            </div>
	                            <!-- Nav End -->
	                        </div>
	                    </nav>
	                </div>
	            </div>
	        </div>
	    </header>
	    <!-- ##### Header Area End ##### -->
	</div>
</body>
</html>