<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>stayalive &amp; 내가 원하는 숙소를 싸게 구하자</title>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.1.4/semantic.min.css" />

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="/main/style.css">

</head>
<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="cssload-container">
            <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
        </div>
    </div>

	<!-- header replace -->
    <div th:replace="header :: header"></div>

 <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img d-flex align-items-center justify-content-center" style="background-image: url(/main/img/bg-img/background1.jpg);">
        <div class="bradcumbContent">
            <h2>Payment</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Contact Form Area Start ##### -->
    <section class="contact-form-area mb-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center" style="padding-top: 10px">
                        <div class="line-"></div>
                        <h2>결제</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <!-- Contact Form -->
                    <form action="/payment/payment" method="post">
                        <div class="row">
                        	<div class="col-lg-12">
                                <input type="text" class="form-control" name="memberId" readonly th:value="'결제 금액 : '+${paymentPrice}">
                            </div>
                            <div class="col-lg-12">
                                <input style="margin: 0 auto" type="text" class="form-control"  placeholder="계좌번호(-제외 숫자만)">
                            </div>
                            <div class="col-12 text-center">
                                <a href="/main"><button type="button" class="btn palatin-btn mt-50 btn-3">결제취소</button></a>
                                <button type="submit" class="btn palatin-btn mt-50">결제하기</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Contact Form Area End ##### -->

	<!-- footer replace -->
    <div th:replace="footer :: footer"></div>

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="/main/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/main/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/main/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/main/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="/main/js/active.js"></script>
    <!-- Validation -->
    <script src="/validate/jquery.validate.js"></script>
    <script src="/validate/additional-methods.js"></script>
    <script src="/validate/localization/messages_ko.js"></script>
    <script>
	</script>
</body>

</html>