<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-latest.js"></script>
<script src="editor/js/HuskyEZCreator.js" charset="utf-8"></script>
</head>
<script type="text/javascript">
    $(function(){
        //전역변수
        var obj = [];              
        //스마트에디터 프레임생성
        nhn.husky.EZCreator.createInIFrame({
            oAppRef: obj,
            elPlaceHolder: "editor",
            sSkinURI: "editor/SmartEditor2Skin.html",
            htParams : {
                // 툴바 사용 여부
                bUseToolbar : true,            
                // 입력창 크기 조절바 사용 여부
                bUseVerticalResizer : true,    
                // 모드 탭(Editor | HTML | TEXT) 사용 여부
                bUseModeChanger : true,
            }
        });
        //전송버튼
        $("#insertBoard").click(function(){
            //id가 smarteditor인 textarea에 에디터에서 대입
            obj.getById["editor"].exec("UPDATE_CONTENTS_FIELD", []);
            //폼 submit
            $("#insertBoardFrm").submit();
        });
    });
</script>
<body>
 	<div class ="container" style="max-width: 750px">
 		<form action="#" method="post" id="insertBoardFrm" enctype="multipart/form-data">
    	<table class = "table table-border" style="width: 400px">
    		<tr>
    			<td><label>업체 이름</label></td>
    			<td><input class="form-control input-sm" type="text" name="name" readonly></td>
    		</tr>
    		<tr>
    			<td><label>이름</label></td>
    			<td><input class="form-control input-sm" type="text" name="name"></td>
    		</tr>
    		<tr>
    			<td><label>주소</label></td>
    			<td><input class="form-control input-sm" type="text" name="name"></td>
    		</tr>
    		<tr>
    			<td><label>연락처</label></td>
    			<td><input class="form-control input-sm" type="text" name="name"></td>
    		</tr>
    		    		<tr>
    			<td><label>연락처</label></td>
    			<td><input class="form-control input-sm" type="text" name="name"></td>
    		</tr>
    		<tr>
    			<td><label>연락처</label></td>
    			<td><input class="form-control input-sm" type="text" name="name"></td>
    		</tr>
    	</table>
        <textarea name="editor" id="editor" style="width: 700px; height: 200px;"></textarea>
        <input type="button" class="btn btn-primary" id="insertBoard" value="등록" />
    </form>
 	</div>

 
</body>
</html>