<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<title>숙소 리스트</title>
<!--다음 주소검색 API  -->
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<!--다음 지도 API  -->
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=48ed4ce03423252b26250f66a5ece330&libraries=services"></script>
<!-- jquery(3.3.1)  -->
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<!-- bootstrap(4.1.3)  -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<script th:inline="javascript">
//<![CDATA[ 
	$(function() {
		var map;
		var latitude;
		var longitude;
		var location;
		$('#theModal').on('show.bs.modal', function (e) {
			$(".modal-body").empty(); //기존에 있던 modal body에 있는 태그들을 제거
			var button = $(e.relatedTarget);
		  	$.ajax({
		  		url : "detail",
		  		data : {"accommodationNo" : button.data("remote")},
		  		type: 'GET',
				contentType:"application/x-www-form-urlencoded",
				success: function(data){
					$(".modal-body").append("<div id='map' style='width:300px;height:300px;'></div>"); //맵이 들어갈 태그 생성
					var mapTypeControl = new daum.maps.MapTypeControl();
				    var mapContainer = document.getElementById('map'); // 지도를 표시할 div태그
				    latitude = data.accommodationLatitude; //위도
				    longitude = data.accommodationLongitude; //경도
				    location = new daum.maps.LatLng(latitude, longitude); //좌표정보 생성
				    var mapOption = { 
				        center: location, // 지도의 중심좌표
				        level: 3 // 지도의 확대 레벨			 
					}
				    map = new daum.maps.Map(mapContainer, mapOption); //맵 생성
				    map.addControl(mapTypeControl, daum.maps.ControlPosition.TOPRIGHT);
				    var marker = new daum.maps.Marker({ // 마커생성
				        position: location
				    });
				    marker.setMap(map);  // 마커가 지도 위에 표시되도록 설정
				    $(".modal-body").append(data.accommodationDetail); //숙소 상세정보 추가
         	    }
		  	});
		});
		$('#theModal').on('shown.bs.modal', function() {
			map.relayout();
			map.setCenter(location); //기존좌표로 이동
		});
	});
// ]]>
</script>

<body>
<div class="container">
	<table class="table table-stroped">
		<thead>
			<tr>
				<th>이름</th>
				<th>분류</th>
				<th>지역</th>
				<th>주소</th>
				<th>회원 ID</th>
				<th>상세</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item : ${list}">
				<td th:text="${item.accommodationName}"></td>
				<td th:text="${item.accommodationCategoryName}"></td>
				<td th:text="${item.addressSidoName + ' '+ item.addressSigunguName}"></td>
				<td th:text="${item.accommodationAddress}"></td>
				<td th:text="${item.memberId}"></td>
				<td><a class="btn btn-primary" data-toggle="modal" data-target="#theModal" th:attr="data-remote=${item.accommodationNo}">상세</a></td>
			</tr>
		</tbody>
	</table>
</div>

<!-- 모달  -->
<div class="modal fade" id="theModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">My modal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>