<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    
    <!-- Title -->
    <title>stayalive &amp; 내가 원하는 숙소를 싸게 구하자</title>
    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="/main/style.css">
</head>
<body>
	<!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="cssload-container">
            <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
        </div>
    </div>
	<!-- header replace -->
    <div th:replace="header :: header"></div>
    
 	<!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img d-flex align-items-center justify-content-center" style="background-image: url(/main/img/bg-img/background4.jpg);">
        <div class="bradcumbContent">
            <h2>Accommodation Modify</h2>
        </div>
    </section>
	<!-- ##### Breadcumb Area End ##### -->

	<!-- ##### Contact Form Area Start ##### -->

    <section class="contact-form-area mb-100">
        <div class="container" style="max-width: 1050px">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center" style="padding-top: 10px">
                        <div class="line-"></div>
                        <h2>숙소 수정</h2>
                    </div>
                </div>
            </div>
            <div class="row">
            	<div class="col-md-3">
            		<p>숙소는 무엇인가요?</p>
					<a href="/accommodation/main">
						<button type="button" class="btn palatin-btn btn-2">Click Now</button><br><br>
					</a>
					<p>StayAlive의 숙소를 보고싶어요.</p>
					<a href="/accommodation/list">
						<button type="button" class="btn palatin-btn btn-2">Click Now</button><br><br>
					</a>
					<p>StayAlive에 숙소를 등록하고싶어요</p>
					<a href="/accommodation/register">
						<button type="button" class="btn palatin-btn btn-2">Click Now</button>
					</a>					
				</div>
                <div class="col-md-9">
			 		<form id="updateBoardFrm" enctype="multipart/form-data">
			 			<input type="hidden" name="accommodationNo">
 						<input type="hidden" name="imageFileNo">
			 			<div class="row">
			 				<div class="col-lg-12">
			 					<select id="selectAccommodation" class="form-control" >
					 				<option value="">수정할 숙소를 골라주세요
					 				<option th:each="name : ${names}" th:value="${name}" th:text="${name}">
			 					</select>
			 				</div>
			    			<div class="col-lg-12" style="padding-top: 10px">
                                <input style="margin: 0 auto" type="text" class="form-control" name="accommodationName" placeholder="숙소명" required>
                            </div>
                            <div class="col-lg-4">
                                <input style="margin: 0 auto" type="text" class="form-control" name="memberBusinessNumber" placeholder="사업자번호" required>
                            </div>
                            <div class="col-lg-4">
                                <input style="margin: 0 auto" class="form-control" type="file" name="businessNumberFile" accept="image/*">
                            </div>
                            <div class="col-lg-4">
                               <p>필요시 사업자 등록 관련 파일을 <br> 변경할 수 있습니다.</p>
                            </div>

							<div class="col-lg-6">
								<input style="margin: 0 auto" class="form-control" type="text" name="accommodationPhone" placeholder="연락처" required>
                            </div>
                            <div class="col-lg-6">
								<input style="margin: 0 auto" class="form-control" type="email" name="accommodationEmail" placeholder="이메일" required>
                            </div>
                            <div class="col-lg-12" style="padding-top: 30px">
                            	<p>숙소 소개글을 작성해주세요.(이미지 파일을 선택 후 업로드 버튼을 누르면 아래글에서 편집 가능)</p>
                            </div>
                            <div class="col-lg-4">
                            	<input class="form-control" type="file" name="file">
                            </div> 
                            <div class="col-lg-4">
                            	<input class="form-control" type="file" name="file">
                            </div>
                            <div class="col-lg-4">
                            	<button class="btn palatin-btn btn-3 m-1" type="button" id="uploadbutton">업로드</button>
                            </div>  	
			    			<div class="col-lg-12">
			    				<textarea name="accommodationDetail" id="editor" style="width: 756px;"></textarea>
			    			</div>
			    			<div class="col-12 text-center">
                       		 	<button type="button" id="updateBoard" class="btn palatin-btn mt-50">숙소 등록하기</button>
                      		</div>
			    		</div>
			    	</form>
    	 		</div>
            </div>
        </div>
    </section>
    <!-- ##### Contact Form Area End ##### -->

	<!-- footer replace -->
    <div th:replace="footer :: footer"></div>

 	<!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="/main/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/main/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/main/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/main/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="/main/js/active.js"></script>
	<!-- smarteditor 플러그인(2.9.1)  -->
	<script src="/smarteditor/js/service/HuskyEZCreator.js" charset="utf-8"></script>
    <!-- Validation -->
    <script src="/validate/jquery.validate.js"></script>
    <script src="/validate/additional-methods.js"></script>
    <script src="/validate/localization/messages_ko.js"></script>
	<script type="text/javascript">
		$("#accommodationModify").addClass('active');
	    $(function(){
	    	var count = 1;
	        //전역변수
	        var obj = [];
		    $("#updateBoardFrm").validate({
		    	rules: {
		    		businessNumberFile: {
		    			accept: "image/*"
		    		},
		    		memberBusinessNumber: {
		    			digits:true,
		    			minlength:10,
		    			maxlength:10
		    		}
		    	}
		    });
	        //스마트에디터 프레임생성
	        nhn.husky.EZCreator.createInIFrame({
	            oAppRef: obj,
	            elPlaceHolder: "editor",
	            sSkinURI: "/smarteditor/SmartEditor2Skin.html",
	            fCreator: "createSEditor2"
	        });
	        //전송버튼
	        $("#updateBoard").click(function(){
	            var setForm = $('#updateBoardFrm');
	            setForm.attr('action','modifyAction');
	            setForm.attr('method','post');
	            obj.getById["editor"].exec("UPDATE_CONTENTS_FIELD", []);
	            $("#updateBoardFrm").submit();
	        });
	        $("#uploadbutton").click(function(){
	        	if(count > 1) {
	        		alert("업로드는 한번만 할 수 있습니다.");
	        		return;
	        	}
	        	count++;
	            var form = $('#updateBoardFrm')[0];
	            var formData = new FormData(form);
	      	  $.ajax({
	      	    url: 'addDetailImage',
	      	    data : formData,
	      	    type: 'POST',
	      	    processData:false,
	      	    contentType:false,
	      	    success: function(data){
	      	    	obj.getById["editor"].exec("PASTE_HTML", [data]);
	      	    }
	      	  });
	        });
	        $("#selectAccommodation").on('change',function() {
	        	var name = $("#selectAccommodation").val();
	        	if(name != "") {
	            	$.ajax({
	               	    url: 'findModify',
	               	    data : {name},
	               	    type: 'GET',
						contentType:"application/x-www-form-urlencoded",
	               	    success: function(data){
							/* console.log(data); */
							$("input[name='accommodationNo']").val(data.accommodationNo);
							$("input[name='accommodationName']").val(data.accommodationName);
							$("input[name='memberBusinessNumber']").val(data.memberBusinessNumber);
							$("input[name='accommodationPhone']").val(data.accommodationPhone);
							$("input[name='accommodationEmail']").val(data.accommodationEmail);
							$("input[name='imageFileNo']").val(data.imageFileNo);
							obj.getById["editor"].exec("SET_IR", [""]);
							obj.getById["editor"].exec("PASTE_HTML", [data.accommodationDetail]);
	                	}
	                });
	        	}      	
	        });       
	    });
	</script>	
</body>


   
</html>