<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>stayalive &amp; 내가 원하는 숙소를 싸게 구하자</title>
    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="/main/style.css">

</head>
<body>
	<!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="cssload-container">
            <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
        </div>
    </div>

	<!-- header replace -->
    <div th:replace="header :: header"></div>

 	<!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img d-flex align-items-center justify-content-center" style="background-image: url(/main/img/bg-img/background4.jpg);">
        <div class="bradcumbContent">
            <h2>Accommodation Registration</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Contact Form Area Start ##### -->
    <section class="contact-form-area mb-100">
        <div class="container" style="max-width: 1050px">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center" style="padding-top: 10px">
                        <div class="line-"></div>
                        <h2>숙소 등록</h2>
                    </div>
                </div>
            </div>

            <div class="row">
            	<div class="col-md-3">
            		<p>숙소는 무엇인가요?</p>
					<a href="/accommodation/main">
						<button type="button" class="btn palatin-btn btn-2">Click Now</button><br><br>
					</a>
					<p>StayAlive의 숙소를 보고싶어요.</p>
					<a href="/accommodation/list">
						<button type="button" class="btn palatin-btn btn-2">Click Now</button><br><br>
					</a>
					<p>숙소를 수정하고싶어요.</p>
					<a href="/accommodation/modify">
						<button type="button" class="btn palatin-btn btn-2">Click Now</button>
					</a>
				</div>
                <div class="col-md-9">
			 		<form id="registerForm" enctype="multipart/form-data">
			 			<div class="row">
			    			<input type="hidden" name="companyNo" th:value="${companyNo}">
			    			<div class="col-lg-6">
                                <input type="text" class="form-control" name="companyName" th:value="${companyName}" readonly>
                            </div>
                            <div class="col-lg-6">
                                <input style="margin: 0 auto" type="text" class="form-control" name="accommodationName" placeholder="숙소명" required>
                            </div>
                            <div class="col-lg-4">
                                <input style="margin: 0 auto" type="text" class="form-control" name="memberBusinessNumber" placeholder="사업자번호(10자리 숫자)" required>
                            </div>
                            <div class="col-lg-4">
                                <input style="margin: 0 auto" class="form-control" type="file" name="businessNumberFile" accept="image/*" required>
                            </div>
                            <div class="col-lg-4">
                               <p>사업자 번호 등록 시 <br> 사업자 번호 인증 사진이 필요합니다</p>
                            </div>
                            <div class="col-lg-12">
                               <select name = "accommodationCategoryNo" id = "accommodationCategoryNo" class="form-control" >
									<option value="0">== 분류 선택 ==</option>
									<option value="1">호텔</option>
									<option value="2">모텔</option>
									<option value="3">민박</option>
								</select>
                            </div>
							<div class="col-lg-8">
								<input style="margin: 0 auto" class="form-control" type="text" name="accommodationAddress" id="accommodationAddress" placeholder="주소" required>
                            </div>
                            <div class="col-lg-4">
   								<button class="btn palatin-btn btn-3 m-1" type="button" id="addressSearch" >주소 검색</button>
                            </div>
                            <div class="col-lg-4">
                            	<input style="margin: 0 auto" type="text" name="accommodationLatitude" id="accommodationLatitude"  placeholder="위도" required readonly>
                            </div>
                            <div class="col-lg-4">
                            	<input style="margin: 0 auto" type="text" name="accommodationLongitude" id="accommodationLongitude"  placeholder="경도" readonly>	
                            </div>
							<input type="hidden"  name="addressSidoName" id="addressSidoName">
							<input type="hidden" name="addressSigunguName" id="addressSigunguName">
							<div class="col-lg-6">
								<input style="margin: 0 auto" class="form-control" type="text" name="accommodationPhone" placeholder="연락처" required>
                            </div>
                            <div class="col-lg-6">
								<input style="margin: 0 auto" class="form-control" type="email" name="accommodationEmail" placeholder="이메일" required>
                            </div>
                            <div class="col-lg-12" style="padding-top: 30px">
                            	<p>숙소 소개글을 작성해주세요.(이미지 파일을 선택 후 업로드 버튼을 누르면 아래글에서 편집 가능)</p>
                            </div>
                            <div class="col-lg-4">
                            	<input class="form-control" type="file" name="file">
                            </div> 
                            <div class="col-lg-4">
                            	<input class="form-control" type="file" name="file">
                            </div>
                            <div class="col-lg-4">
                            	<button class="btn palatin-btn btn-3 m-1" type="button" id="uploadbutton">업로드</button>
                            </div>  	
			    			<div class="col-lg-12">
			    				<textarea name="accommodationDetail" id="editor" style="width: 756px;"></textarea>
			    			</div>
			    			<div class="col-12 text-center">
                       		 	<button type="button" id="insertBoard" class="btn palatin-btn mt-50">숙소 등록하기</button>
                      		</div>
			    		</div>
			    	</form>
    	 		</div>
            </div>
        </div>
    </section>

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="/main/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/main/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/main/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/main/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="/main/js/active.js"></script>
    <!--다음 주소검색 API  -->
	<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
	<!--다음 지도 API  -->
	<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=48ed4ce03423252b26250f66a5ece330&libraries=services"></script>
	<!-- smarteditor 플러그인(2.9.1)  -->
	<script src="/smarteditor/js/service/HuskyEZCreator.js" charset="utf-8"></script>
    <!-- Validation -->
    <script src="/validate/jquery.validate.js"></script>
    <script src="/validate/additional-methods.js"></script>
    <script src="/validate/localization/messages_ko.js"></script>

	<script type="text/javascript">
	    $(function(){
	    	var count = 1;
	        //전역변수
	        var obj = [];
		    $("#registerForm").validate({
		    	rules: {
		    		businessNumberFile: {
		    			accept: "image/*"
		    		},
		    		memberBusinessNumber: {
		    			digits:true,
		    			minlength:10,
		    			maxlength:10
		    		}
		    	},
		    	messages: {
		    		accommodationLatitude: "주소검색이 필요합니다."	
		    	}
		    });
	        //스마트에디터 프레임생성
	        nhn.husky.EZCreator.createInIFrame({
	            oAppRef: obj,
	            elPlaceHolder: "editor",
	            sSkinURI: "/smarteditor/SmartEditor2Skin.html",
	            fCreator: "createSEditor2"
	        });
	        //전송버튼
	        $("#insertBoard").click(function(){
	        	var select = $("#accommodationCategoryNo");
	        	if(select.val() == "0") {
	        		alert("분류를 선택해 주세요");
	        	}
	        	else {
		            var setForm = $('#registerForm');
		            setForm.attr('action','register');
		            setForm.attr('method','post');
		            obj.getById["editor"].exec("UPDATE_CONTENTS_FIELD", []);
		            $("#registerForm").submit();
	        	}

	        });
	        $("#uploadbutton").click(function(){
	        	if(count > 1) {
	        		alert("업로드는 한번만 할 수 있습니다.");
	        		return;
	        	}
	        	count++;
	            var form = $('#registerForm')[0];
	            var formData = new FormData(form);
	      	  $.ajax({
	      	    url: 'addDetailImage',
	      	    data : formData,
	      	    type: 'POST',
	      	    processData:false,
	      	    contentType:false,
	      	    success: function(data){
	      	    	obj.getById["editor"].exec("PASTE_HTML", [data]);
	      	    }
	      	  });
	        });
	      //주소-좌표 변환 객체를 생성
	        var geocoder = new daum.maps.services.Geocoder();
	        function execDaumPostcode() {
	            new daum.Postcode({
	                oncomplete: function(data) {
	                	// 주소 정보를 해당 필드에 넣는다.
						$("#accommodationAddress").val(data.address);
	                    // 주소로 상세 정보를 검색
	                    geocoder.addressSearch(data.address, function(results, status) {
	                        // 정상적으로 검색이 완료됐으면
	                        if (status === daum.maps.services.Status.OK) {
	                            var result = results[0]; //첫번째 결과의 값을 활용
	        					$("#accommodationLatitude").val(result.y); //위도
	        					$("#accommodationLongitude").val(result.x); //경도
	        					$("#addressSidoName").val(data.sido);
	        					$("#addressSigunguName").val(data.sigungu);
	                        }
	                    });
	                }
	            }).open();
	        }
	        $("#addressSearch").click(function() {
	        	execDaumPostcode();
	        })
	        $("#accommodationRegister").addClass('active');
	    });
	    
	</script>

</body>
</html>