<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="smarteditor/js/service/HuskyEZCreator.js" charset="utf-8"></script>
</head>
<script type="text/javascript">
    $(function(){
    	var count = 1;
        //전역변수
        var obj = [];              
        //스마트에디터 프레임생성
        nhn.husky.EZCreator.createInIFrame({
            oAppRef: obj,
            elPlaceHolder: "editor",
            sSkinURI: "smarteditor/SmartEditor2Skin.html",
            fCreator: "createSEditor2"
        });
        //전송버튼
        $("#insertBoard").click(function(){
            var setForm = $('#insertBoardFrm');
            setForm.attr('action','accommodationRegister');
            setForm.attr('method','post');
            obj.getById["editor"].exec("UPDATE_CONTENTS_FIELD", []);
            $("#insertBoardFrm").submit();
        });
        $("#uploadbutton").click(function(){
        	if(count > 1) {
        		alert("업로드는 한번만 할 수 있습니다.");
        		return;
        	}
        	count++;
            var form = $('#insertBoardFrm')[0];
            var formData = new FormData(form);
      	  $.ajax({
      	    url: 'filesRequest',
      	    data : formData,
      	    type: 'POST',
      	    processData:false,
      	    contentType:false,
      	    success: function(data){
      	    	var text = $("#text");
      	    	text.append(data);
      	    	obj.getById["editor"].exec("PASTE_HTML", [data]);
      	    }
      	  });
        });        
    });
</script>
<body>
 	<div class ="container" >
 		<form id="insertBoardFrm" enctype="multipart/form-data">
	    	<table class = "table table-border" style="max-width: 850px">
	    		<tr>
	    			<td style="width:100px" ><label>업체 이름</label></td>
	    			<td colspan="2"><input class="form-control input-sm" type="text" name="name" readonly></td>
	    		</tr>
	    		<tr>
	    			<td><label>이름</label></td>
	    			<td colspan="2"><input class="form-control input-sm" type="text" name="accommodationName"></td>
	    		</tr>
	    		<tr class="form-inline">
	    			<td><label>사업자 번호</label></td>
	    			<td colspan="2">
	    				<input class="form-control input-sm" type="text" name="memberBusinessNumber">
	    				<input class="form-control input-sm" type="file" name="businessNumberFile">
	    			</td>
	    		</tr>
	    		<tr>
	    			<td><label>분류</label></td>
	    			<td colspan="2">
						<select name = "accommodationCategoryNo" class=form-control>
							<option value="0">선택해 주세요</option>
							<option value="1">숙소</option>
							<option value="2">모텔</option>
							<option value="3">민박</option>
						</select>
					</td>
	    		</tr>
	    		<tr>
	    			<td><label>주소</label></td>
	    			<td colspan="2"><input class="form-control input-sm" type="text" name="accommodationAddress"></td>
	    		</tr>
	    		<tr class="form-inline">
	    			<td><label>위치</label></td>
	    			<td style="width: 200px">
	    				<label>위도 :</label> <input class="form-control input-sm" type="text" name="accommodationLatitude" style="width: 50px">
	    				<label>경도 :</label> <input class="form-control input-sm" type="text" name="accommodationLongitude" style="width: 50px">
	    			</td>
	    			<td style="width: 500px">
	    				<label>도</label>
	    				<select name = "addressDoNo" class=form-control>
							<option value="0">선택해 주세요</option>
							<option value="1">전라북도</option>
							<option value="2">충청남도</option>
							<option value="3"></option>
						</select>
						<label>시</label>
	    				<select name = "addressDoNo" class=form-control>
							<option value="0">선택해 주세요</option>
							<option value="1">전주시</option>
							<option value="2">서울시</option>
							<option value="3">대구광역시</option>
						</select>
						<label>구</label>
	    				<select name = "addressGuNo" class=form-control>
							<option value="0">선택해 주세요</option>
							<option value="1">덕진구</option>
							<option value="2">서울시</option>
							<option value="3">대구광역시</option>
						</select>
					
	    			</td>
	    		</tr>
	    		<tr>
	    			<td><label>연락처</label></td>
	    			<td colspan="2"><input class="form-control input-sm" type="text" name="accommodationPhone"></td>
	    		</tr>
	    		<tr>
	    			<td><label>이메일</label></td>
	    			<td colspan="2"><input class="form-control input-sm" type="text" name="accommodationEmail"></td>
	    		</tr>
	    		<tr class="form-inline">
	    			<td><label>세부 내용</label></td>
	    			<td colspan="2">
	    				<input class="form-control input-sm" type="file" name="file">
						<input class="form-control input-sm" type="file" name="file">
						<input class="form-control" type="button" id="uploadbutton" value="업로드">		
				    	<textarea name="accommodationDetail" id="editor" style="width: 700px; height: 300px;"></textarea>
	    			</td>
	    		</tr>
				<tr>
					<td colspan="3" align="right"><input type="button" class="btn btn-primary" id="insertBoard" value="등록" /></td>
				</tr>
	    	</table>
	    </form>
 	</div>
</body>
</html>