<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<title>숙소 리스트</title>
<!--다음 주소검색 API  -->
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<!--다음 지도 API  -->
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=48ed4ce03423252b26250f66a5ece330&libraries=services"></script>
<!-- jquery(3.3.1)  -->
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<!-- bootstrap(4.1.3)  -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>asd</th>
				</tr>
				
			<tbody>
			</tbody>
		</table>
	</div>
</body>
</html>