<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>stayalive &amp; 내가 원하는 숙소를 싸게 구하자</title>
	<!-- Core Stylesheet -->
    <link rel="stylesheet" href="/main/style.css">
</head>

<body>
	<body class="body-wrapper">
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="cssload-container">
            <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
        </div>
    </div>
	<!-- header replace -->
    <div th:replace="header :: header"></div>
    
    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img d-flex align-items-center justify-content-center" style="background-image: url(/main/img/bg-img/background4.jpg);">
        <div class="bradcumbContent">
            <h2>Accommodation List</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

<section class="contact-form-area mb-100">
	<div class="container">
		<div class="row">
	        <div class="col-12">
	            <div class="section-heading">
	            </div>
	        </div>
        </div>
		<div class="row">
			<div class="col-md-12">
				<div class="search-result bg-gray">
					<h2>"<span th:text="${searchWord}"></span>"의 검색 결과</h2>
					<p><span th:if='${!#strings.equals(searchWord,"")}' th:text="${PM.allCount}"></span> 개의 항목을 찾았습니다</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<form action="list" method="get">
					<select class="form-control" id="select" name="searchKey">
					      <option value="0">==== 선택 ====</option>
					      <option value="accommodation_name">숙소 이름</option>
					      <option value="accommodation_address">주소</option>
					       <option value="accommodation_category_name">분류</option>
					      <option value="member_id">업체 회원ID</option>
					</select>
					<input type="text" class="form-control" placeholder="검색어를 입력하세요" name="searchWord" id="searchWord">
					<button type="submit" class="btn palatin-btn">Search Now</button>
				</form>
				<br><br>
				<p>숙소는 무엇인가요?</p>
				<a href="/accommodation/main">
					<button type="button" class="btn palatin-btn btn-2">Click Now</button><br><br>
				</a>
				<p>StayAlive에 숙소를 등록하고싶어요.</p>
				<a href="/accommodation/register">
					<button type="button" class="btn palatin-btn btn-2">Click Now</button><br><br>
				</a>
				<p>숙소를 수정하고싶어요.</p>
				<a href="/accommodation/modify">
					<button type="button" class="btn palatin-btn btn-2">Click Now</button>
				</a>
			</div>
			<div class="col-md-9">
				<div class="row">
					<div class="col-md-11">
						<select>
							<option>Most Recent</option>
							<option value="1">Most Popular</option>
							<option value="2">Lowest Price</option>
							<option value="4">Highest Price</option>
						</select>
					</div>
					<div class="col-md-1">
						<div class="view">
							<strong>Views</strong>
							<ul class="list-inline">
								<li class="list-inline-item">
									<a href="javascript:void(0);"><i class="fa fa-th-large"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="javascript:void(0);"><i class="fa fa-reorder"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<table class="table table-bordered table-striped table-hover">
							<thead>
								<tr>
									<th>이름</th>
									<th>분류</th>
									<th>지역</th>
									<th>주소</th>
									<th>회원 ID</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="item : ${list}">
									<td><a href="#" class="text-primary" data-toggle="modal" data-target="#theModal" th:attr="data-remote=${item.accommodationNo}" th:text="${item.accommodationName}"></a></td>
									<td th:text="${item.accommodationCategoryName}"></td>
									<td th:text="${item.addressSidoName + ' '+ item.addressSigunguName}"></td>
									<td th:text="${item.accommodationAddress}"></td>
									<td th:text="${item.memberId}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-12" >
					<!-- Pagination -->
					<div class="pagination-area wow fadeInUp" data-wow-delay="200ms" th:if="${PM.allCount} > 0">
						<nav>
							<ul class="pagination">
								<li class="page-item" th:if="${PM.prevPage}">
									<a class="page-link" th:href="@{/accommodation/list(currentPage=${(PM.currentBlock - 1) * PM.pagePerBlock},searchKey=${searchKey},searchWord=${searchWord})}">이전</a>
								</li>
								<li class="page-item" th:each="i : ${#numbers.sequence(PM.startPage, PM.endPage)}" th:classappend="${PM.currentPage} == ${i} ? active : null">
									<a class="page-link" th:text="${i}" th:href="@{/accommodation/list(currentPage=${i},searchKey=${searchKey},searchWord=${searchWord})}">1</a>
								</li>
								<li class="page-item" th:if="${PM.nextPage}">
									<a class="page-link" th:href="@{/accommodation/list(currentPage=${PM.currentBlock * PM.pagePerBlock + 1},searchKey=${searchKey},searchWord=${searchWord})}">다음</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

	<!-- footer replace -->
	<div th:replace="footer :: footer"></div>
	
	<!-- 모달  -->
	<div class="modal fade" id="theModal" tabindex="-1" role="dialog">
	    <div class="modal-dialog" >
	        <div class="modal-content">
	            <div class="modal-header">
	                <h5 class="modal-title" id="modalLabel">숙소 상세</h5>
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                    <span aria-hidden="true">×</span>
	                </button>
	            </div>
	            <div class="modal-body">
				<!-- 숙소 상세 내용 들어갈 자리  -->
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	            </div>
	        </div>
	    </div>
    </div>
</body>
	<!-- jQuery-2.2.4 js -->
    <script src="/main/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/main/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/main/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/main/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="/main/js/active.js"></script>
    <!--다음 주소검색 API  -->
	<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
	<!--다음 지도 API  -->
	<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=48ed4ce03423252b26250f66a5ece330&libraries=services"></script>
	<!-- 다음 맵 마커 오버레이 css -->
	<link rel="stylesheet" href="/mapoverlay.css"> 
    <script th:inline="javascript">
//<![CDATA[ 
	$(function() {
		$("#accommodationList").addClass('active');
		var map;
		var latitude;
		var longitude;
		var location;
		$('#theModal').on('show.bs.modal', function (e) {
			$(".modal-body").empty(); //기존에 있던 modal body에 있는 태그들을 제거
			var button = $(e.relatedTarget);
		  	$.ajax({
		  		url : "detail",
		  		data : {"accommodationNo" : button.data("remote")},
		  		type: 'GET',
				contentType:"application/x-www-form-urlencoded",
				success: function(data){
					$(".modal-body").append("<div id='map' style='width:460px;height:400px;'></div>"); //맵이 들어갈 태그 생성
					var mapTypeControl = new daum.maps.MapTypeControl();
				    var mapContainer = document.getElementById('map'); // 지도를 표시할 div태그
				    latitude = data.accommodationLatitude; //위도
				    longitude = data.accommodationLongitude; //경도
				    location = new daum.maps.LatLng(latitude, longitude); //좌표정보 생성
				    var mapOption = { 
				        center: location, // 지도의 중심좌표
				        level: 3 // 지도의 확대 레벨			 
					}
				    map = new daum.maps.Map(mapContainer, mapOption); //맵 생성
				    map.addControl(mapTypeControl, daum.maps.ControlPosition.TOPRIGHT);
				    var marker = new daum.maps.Marker({ // 마커생성
				        position: location
				    });
				    marker.setMap(map);  // 마커가 지도 위에 표시되도록 설정
				    var content = '<div class="wrap">' + 
		            '    <div class="info">' + 
		            '        <div class="title">' + 
		            			data.accommodationName + 
		            '        </div>' + 
		            '        <div class="body">' + 
		            '           <div class="img">' +
		            '                <img src="http://cfile181.uf.daum.net/image/250649365602043421936D" width="73" height="70">' +
		            '           </div>' + 
		            '           <div class="desc">' + 
		            '                <div class="ellipsis">'+ data.accommodationAddress +'</div>' + 
		            '                <div class="jibun ellipsis">' + data.accommodationPhone + '</div>' +
		            '                <div class="jibun ellipsis">' + data.accommodationEmail + '</div>' + 
		            '            </div>' + 
		            '        </div>' + 
		            '    </div>' +    
		            '</div>';
		            var overlay = new daum.maps.CustomOverlay({
		                content: content,
		                map: map,
		                position: marker.getPosition()       
		            });
		            $(".modal-body").append("<br><div class='card border-light'><div class='card-header '><h4 class='text-center'>숙소 상세내용</h4></div><div class='card-body'></div></div>"); //숙소 상세정보 추가
				    $(".card-body").append(data.accommodationDetail); //숙소 상세정보 추가
         	    }
		  	});
		});
		$('#theModal').on('shown.bs.modal', function() {
			map.relayout();
			map.setCenter(location); //기존좌표로 이동
		});
	});
	if($("#select").val() == "0") {
		$("#searchWord").attr("disabled",true);
	}
	$("#select").change(function() {
		if($("#select").val() != "0") {
			$("#searchWord").attr("disabled",false);
		}
		else {
			$("#searchWord").attr("disabled",true);
		}
	});
// ]]>
</script>
    
    
    
</html>