<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<title>adList</title>
</head>
<body>
	<h1>test</h1>
	<a href="/Ad/addAd" class="btn">광고 등록</a>
	<table border="1">
		<tbody>
			<tr>
				<td>adRegisterNo</td>
				<td>memberId</td>
				<td>adRegisterDate</td>
				<td>adRegisterConfirm</td>
				<td>adCostNo</td>
				<td>adRegisterStart</td>
				<td>adRegisterEnd</td>
				<td>adRegisterPost</td>
				<td>adGroupNo</td>
				<td>adGroupName</td>
				<td>adRegisterLink</td>
				<td>adRegisterView</td>
				<td>adRegisterClick</td>
				<td>adUpdateDate</td>
			</tr>
			<tr th:each="item: ${list}">
				<td th:text="${item.adRegisterNo}"></td>
				<td th:text="${item.memberId}"></td>
				<td th:text="${item.adRegisterDate}"></td>
				<td th:text="${item.adRegisterConfirm}"></td>
				<td th:text="${item.adCostNo}"></td>
				<td th:text="${item.adRegisterStart}"></td>
				<td th:text="${item.adRegisterEnd}"></td>
				<td th:text="${item.adRegisterPost}"></td>
				<td th:text="${item.adGroupNo}"></td>
				<td th:text="${item.adGroupName}"></td>
				<td><a th:href="@{adDetail(adRegisterNo=${item.adRegisterNo})}" th:text="${item.adRegisterLink}"></a></td>
				<td th:text="${item.adRegisterView}"></td>
				<td th:text="${item.adRegisterClick}"></td>
				<td th:text="${item.adUpdateDate}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>